[2021-06-18 10:22] sansyrox opened #2 "Add multiple process sharing"

[2021-06-18 10:23] sansyrox opened #3 "Improve async runtime"
https://rust-lang.github.io/async-book/09_example/02_handling_connections_concurrently.html

[2021-06-18 10:23] sansyrox commented on #3
Fixed here: b3f92a0

[2021-06-18 10:23] #3 closed

[2021-06-18 10:24] sansyrox opened #4 "Improve Readme"
Make the readme prettier

[2021-06-18 10:24] sansyrox opened #5 "Add PyPi Metadata"
[code]

[2021-06-18 15:22] VishnuSanal opened #6 "Link pointing to the wrong destination"
![image](https://user-images.githubusercontent.com/50027064/122583116-86ba3280-d076-11eb-80d0-ce4ab26114cf.png)

The link in the attached screenshot points [here](https://raw.githubusercontent.com/sansyrox/robyn/main/docs/architecture.md) rather than [here](https://sansyrox.github.io/robyn/#/architecture)!

PS: Awesome work with the project :)

[2021-06-18 15:38] sansyrox commented on #6
Thank you, @VishnuSanal . Will fix it!

[2021-06-18 15:40] sansyrox commented on #6
Fixed here: https://github.com/sansyrox/robyn/commit/e81fd0209cb67c4dd57f169107612b946748664f

[2021-06-18 15:40] #6 closed

[2021-06-18 19:17] sansyrox opened #7 "Add support for Sync functions as well!"

[2021-06-18 19:17] sansyrox opened #8 "Add tests!"
No tests atm. Add tests for Python and Rust.

[2021-06-18 19:18] sansyrox opened #9 "Add support for Object/JSON Return Type!"

[2021-06-18 19:18] sansyrox opened #10 "Add support for templates!"

[2021-06-18 19:18] sansyrox opened #11 "Add async listener object in rust stream!"

[2021-06-18 19:19] sansyrox opened #12 "Add support for DBs ORMs!"

[2021-06-18 20:21] sansyrox opened #13 "Add better support for requests and response!"
Use better pre built libraries instead of manually checking for GET, POST, etc.

[2021-06-18 20:24] sansyrox opened #14 "Improve the docs!"
From here: https://www.reddit.com/user/tunisia3507/

[2021-06-19 04:51] Saifu0 commented on #13
When you say better pre-built libraries, you mean some wrapper for HTTP REST methods?

[2021-06-19 04:52] Saifu0 commented on #12
Can I work on this issue?

[2021-06-19 07:27] harshraj22 opened #16 "Error on import"
![image](https://user-images.githubusercontent.com/46635452/122634884-7cdc1200-d0fe-11eb-9bf7-eb20c54a0120.png)

Error while running `test.py`. Did you forget adding files ?
Note: already cloned the repo, and also did `pip install robyn`

[2021-06-19 09:24] sansyrox commented on #16
Hey @harshraj22 . Can you try installing maturin first?

`pip install --user maturin` and then run `maturin develop`?

[2021-06-19 10:03] sansyrox commented on #13
@sansyrox , yes. I also think I need to be more descriptive of the issues xD.

I would want to use some sort of request parser of hyper or some similar library.

[2021-06-19 11:50] RutvikJ77 opened #18 "Architecture link in readme redirects to raw content"
Under the Contributor guideline section, the link for architecture redirects to raw content. It should redirect to
https://github.com/sansyrox/robyn/blob/main/docs/architecture.md

Issue section:
https://github.com/sansyrox/robyn#contributor-guidelines

[2021-06-19 11:56] sansyrox opened #19 "Mini Roadmap | A list of issues that would require fixing"
Need to fix the following
- [x] several un-needed dependencies (hyper, serde, serde_json, async-trait, log, async-channel)

- [x] The use of both async-std and tokio doesn't really make sense, combined with another thread pool the setup seems in-efficient.

- [x] Remove the use of blocking sockets

- [x] The server only accepts another connection after the previously accepted connection has been r

[2021-06-19 14:19] sansyrox commented on #18
Thank you for the report! 😄
Fixed here: https://github.com/sansyrox/robyn/commit/4708de98c736628414ce3b67e8430c0ef50cb29d

[2021-06-19 14:19] #18 closed

[2021-06-20 05:27] harshraj22 commented on #16
@sansyrox not sure if there's some issue with the package, or something wrong with my system.

![image](https://user-images.githubusercontent.com/46635452/122663177-27fbd280-d1b6-11eb-9668-74bcc6f5e395.png)

[2021-06-20 12:08] j0fiN commented on #16
@sansyrox, should rust be installed to work with this library?

[2021-06-20 13:13] sansyrox commented on #16
@j0fiN , if you want just want to use via `pip3 install robyn` then no. But if you want to develop on it, then yes.

[2021-06-20 14:59] sansyrox commented on #16
@j0fiN , did robyn work for you without using rust?

[2021-06-21 11:52] sansyrox commented on #7
Working on this today.

[2021-06-21 15:23] sansyrox opened #22 "Re-introduce thread pool for the sync functions (maybe)"
https://github.com/sansyrox/robyn/pull/20#issuecomment-865121079

Read discussion above

And see if introducing a threadpool will impact asgi compliance(most probably not) but still check again.

[2021-06-21 15:24] sansyrox commented on #7
Fixed here: https://github.com/sansyrox/robyn/pull/20

[2021-06-21 15:24] #7 closed

[2021-06-21 20:13] JackThomson2 commented on #22
Using https://docs.rs/tokio/1.7.1/tokio/task/fn.spawn_blocking.html may be the best way, it'll spawn inside tokios internal threadpool and allow you to await it!

[2021-06-21 20:30] JackThomson2 commented on #22
Also wondering if it's possible, as the routes are being added we store some meta data about them, i.e. if they're async or not so we don't have to waste time during a request.

[2021-06-21 20:51] sansyrox commented on #22
@JackThomson2 , I just did that. You can have a look here: https://github.com/sansyrox/robyn/pull/20

[2021-06-21 20:52] sansyrox commented on #22
Thank you for this(https://docs.rs/tokio/1.7.1/tokio/task/fn.spawn_blocking.html) . 😀
I will read more about it.

[2021-06-21 20:56] JackThomson2 commented on #22
I suggest we store that info in the rust side, I guess the less time we spend in the GIL the better from what I gather. So each of the hashtables stores an enum of the py function + info about the function. Then a rough idea of what we could do. Something like

[code]

[2021-06-22 18:04] sansyrox commented on #22
@JackThomson2 , we have also have a gitter room in case you want to join (https://gitter.im/robyn_/community#)

[2021-06-22 18:22] JackThomson2 commented on #22
@sansyrox My concern was around the fact that for an async function now we acquire the GIL 3x and for Sync 2x, this is going to bottleneck the server. This can be reduced by one each by storing the async info rust side rather than in a py dict

[2021-06-22 18:24] sansyrox commented on #22
@JackThomson2 , how can you differentiate in rust between sync and async without calling those functions?

[2021-06-22 18:28] JackThomson2 commented on #22
@sansyrox When the function is added can't we use the same method?  So the router stores ``` get_routes: DashMap<Route, PyFunction>```

[2021-06-22 19:04] sansyrox commented on #22
@JackThomson2 , that makes sense.

We would save this gil acquision
[code]

[2021-06-22 19:08] sansyrox commented on #22
@JackThomson2 , thank you for the feedback. 😄 I'll  implement it tomorrow.

But we are still locking it twice here

[code]

Do you have any suggestions for this as well?

[2021-06-23 16:28] JackThomson2 commented on #22
I think it looks like a limitation with the py03_asyncio, it may be worth asking the library owned if there's a way to return the result from the async function without having to enter the gil again

[2021-06-23 19:05] sansyrox commented on #22
@JackThomson2 , I did talk a lot with the maintainer(when I was creating robyn initially). I don't think it is possible atm. I'll try asking again.

[2021-06-24 08:36] messense commented on #5
You should add `readme` field to `Cargo.toml`, maturin will take care it then.

[2021-06-24 18:23] sansyrox commented on #5
@messense , it has been fixed now(https://pypi.org/project/robyn/). Thank you! 😄

[2021-06-24 18:23] #5 closed

[2021-06-25 02:26] messense commented on #5
BTW, maturin will [support PEP 621](https://github.com/PyO3/maturin/issues/465) in the next version so that you can specify metadata in `pyproject.toml`.

[2021-06-27 16:00] sansyrox opened #27 "ASGI Implementation"
Robyn will follow the PEP guidelines required to confirm to ASGI specifications.

What this means is that the user/developer will still have the ability to use their preference of ASGI server in front of the framework.

Having said that, most *sgis are written in CPython and they are theoretically slower than their rust counterpart. Robyn will focus on speed and that's why Robyn will also ship wit

[2021-06-27 16:03] sansyrox commented on #22
Closing this issue as this seems to be complete. @JackThomson2 feel free to reopen if you have anything to add.

Thanks again! 😄

[2021-06-27 16:03] #22 closed

[2021-06-27 17:30] sansyrox commented on #27
What I'd suggest you do is add "just" a few functions: Robyn::mount_asgi, Robyn::mount_wsgi, Robyn::asgi_app, and Robyn::asgi_app (1&2 and 3&4 could potentially be merged if you wanted to manually detect which type the app was). 1&2 would be used when the user wanted to serve an app in a different framework from Robyn (either as part of a larger Robyn app or using Robyn as a replacement for e.g. u

[2021-06-29 12:28] sansyrox commented on #27
If I end up adding ASGI support, I would be using a predefined framework and a predefined router. This way, I would end up implementing a lot of code twice!

Even with this ASGI support, robyn would have two different routers. One that is implemented natively and the other one implemented through ASGI.

When running through ASGI , robyn will be unable to use the Tokio runtime that is a core part o

[2021-06-29 12:45] sansyrox commented on #11
This was implemented in 0.4.0

[2021-06-29 12:45] #11 closed

[2021-06-29 21:00] sansyrox opened #29 "Improve the router"
Consider looking at the implementation of https://docs.rs/route-recognizer/0.3.0/route_recognizer/

They have a very good implementation of handling routes.

[2021-06-29 21:10] sansyrox opened #30 "Improve the way you parse TCP streams"
Try reading the documentation of this : https://crates.io/crates/httparse

[2021-06-30 09:41] messense opened #31 "QPS drops drastically after processing many requests"
Using the hello world example from README.md, and benchmark it with [oha](https://github.com/hatoo/oha)

1st round

[code]

2nd round

[code]

3rd round

[code]

[2021-06-30 10:18] sansyrox commented on #31
Thank you @messense 😄  . I am looking at these benchmarks for the first time. Do you also have the benchmarks of other popular frameworks?
Also, do you think that these benchmarks are good?

[2021-06-30 12:36] sansyrox commented on #31
I tried comparing it with fastAPI(which is the supposedly fastest python webserver)
**FASTAPI**
[code]

Robyn
[code]

Robyn is performing faster than others 🥳
But it is also showing some crashes. This could possibly be a reason of poor http parsing by me. I'll try to add a better implementation by today or tomorrow.

[2021-06-30 14:14] sansyrox opened #32 "[Stretch Goal] Create a a way of writing async request"
https://docs.rs/reqwest/0.11.4/reqwest/

Async requests in python are very verbose. (3-4 lines for a single await)

Make a way to add easier requests in robyn!

[2021-06-30 17:19] sansyrox commented on #31
FASTAPI

ummary:
  Success rate:	1.0000
  Total:	17.2236 secs
  Slowest:	0.2017 secs
  Fastest:	0.0187 secs
  Average:	0.0860 secs
  Requests/sec:	580.5992

  Total data:	244.14 KiB
  Size/request:	25 B
  Size/sec:	14.17 KiB

Response time histogram:
  0.017 [36]   |
  0.033 [255]  |■■
  0.050 [2875] |■■■■■■■■■■■■■■■■■■■■■■■■■
  0.067 [3622] |■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  0.083 [341]  |■■■

[2021-07-01 08:23] sansyrox commented on #31
@messense , with the latest PR, it can parse 1million requests without dropping any 🥳
[code]

[2021-07-01 08:23] #31 closed

[2021-07-01 08:24] sansyrox commented on #30
Fixed here.

[2021-07-01 08:24] #30 closed

[2021-07-01 18:18] sansyrox commented on #16
This should be fixed now. Closing this.

[2021-07-01 18:18] #16 closed

[2021-07-04 15:03] sansyrox opened #37 "Add a dev server implementation"
Add a flag that allows hot reloading of web server.

https://docs.rs/notify/4.0.10/notify/#default-debounced-api

[2021-07-05 09:32] sansyrox opened #38 "Add support for mounting directory"
Try to create a way to mount directory

[2021-07-05 09:32] sansyrox commented on #2
Not required anymore

[2021-07-05 09:32] #2 closed

[2021-07-05 09:53] sansyrox opened #39 "Set MIME types when handling different types of medias"
Currently MIME types are not added in response. Add them

[2021-07-05 17:54] sansyrox commented on #38
If actix is implemented, we can use this https://actix.rs/docs/static-files/

[2021-07-06 20:48] sansyrox opened #41 "OSX builds are failing"
This will create an issue with the release of OSX versions.

Need to fix this.

[2021-07-06 20:58] sansyrox opened #42 "Add doc stings"
Most of the functions are without any doc strings.
Add verbosity!

[2021-07-08 12:31] sansyrox opened #43 "Try to serve individual static files using vanilla rust"
I think I may know a way to do that.

Explore the possibility to do that.

[2021-07-09 08:24] messense commented on #41
You just need to add `dist/` to https://github.com/sansyrox/robyn/blob/main/.gitignore

[2021-07-09 17:02] sansyrox commented on #41
Thank you @messense . It fixed it 🚀

[2021-07-09 17:04] sansyrox commented on #41
@messense , do you also happen about how to add python dependencies to the project?

I tried adding it like this(https://github.com/sansyrox/robyn/pull/40/files#diff-50c86b7ed8ac2cf95bd48334961bf0530cdc77b5a56f852c5c61b89d735fd711) but it doesn't seem to work.

[2021-07-09 21:32] sansyrox opened #45 "Make html file serving more robust"
The app is not responding on lossy utf. Fix it!

[2021-07-10 00:33] messense commented on #41
https://www.python.org/dev/peps/pep-0621/#dependencies-optional-dependencies

Should be

[code]

[2021-07-10 19:39] sansyrox commented on #41
@messense , it is giving me an error like this
[code]

[2021-07-10 19:56] sansyrox commented on #43
Will only slow us down as we were trying to acquire gil all the time. If we find a better approach in the future, I will definitely try to include it. But will not be considered till then.

[2021-07-10 19:56] #43 closed

[2021-07-10 20:10] #45 closed

[2021-07-11 03:32] messense commented on #41
https://github.com/sansyrox/robyn/blob/e2829f51f81b97dcc42210451568bb912f981bbf/.github/workflows/CI.yml#L32

This needs to be changed to something like `pip install --force-reinstall dist/robyn*.whl`

[2021-07-12 09:02] sansyrox commented on #41
<img width="501" alt="Screenshot 2021-07-12 at 2 28 41 PM" src="https://user-images.githubusercontent.com/29942790/125259956-761b7600-e31d-11eb-976e-11c53f291ad2.png">
@messense , when I add the dist folder to the .gitignore, the rust binary is not added in installation folder.

If I copy the `robyn.so` manually to the installation folder then it works fine. Do happen to know the issue here?

[2021-07-12 09:12] messense commented on #41
What do you mean? Can you give a list of commands to reproduce it? I downloaded wheels from https://github.com/sansyrox/robyn/actions/runs/1021993930 , they looks fine?

[2021-07-12 09:27] sansyrox commented on #41
Yes sure.

1. I started a pyenv using `pyenv activate venv`
2. I installed robyn using pip `pip install robyn==0.5.3`
3. I create a basic robyn script and I run it
4. I get an error that
[code]
5. Then I open the package site and add a custom .so file to make it work

This is done on an OSX machine.

[2021-07-12 09:28] sansyrox commented on #41
<img width="492" alt="Screenshot 2021-07-12 at 2 58 15 PM" src="https://user-images.githubusercontent.com/29942790/125264567-96e5ca80-e321-11eb-8316-cd28b640c0d7.png">
The site package doesn't have a .so file

[2021-07-12 09:32] messense commented on #41
Works on my machine

[code]

[2021-07-12 10:31] sansyrox commented on #41
This is very strange 😓

Why did you use https://pypi.org/simple tho?

[2021-07-12 10:32] messense commented on #41
My pip setup defaults to company private registry.

[2021-07-12 10:35] sansyrox commented on #41
Ah, got it. I guess then it is an issue for my machine only.

Thanks again.

[2021-07-12 10:35] #41 closed

[2021-07-15 08:39] JackThomson2 opened #48 "[Proposal] Const Requests"
I wonder if we should off an option for a constant response which won't change, this would allow us to never touch python for ultra fast path solutions.

[2021-07-15 09:27] sansyrox commented on #48
Hey @JackThomson2 , I don't understand what you mean by this. Constant response as in?

[2021-07-15 09:31] JackThomson2 commented on #48
For example our hello world request is constant as it always response "HELLO WORLD", so in this case, we could save this rust side, meaning we'd never have to call the python function/

[2021-07-15 10:29] sansyrox commented on #48
@JackThomson2 , but hello world is just an example in our scenario. We definitely require variable response for a web server to exist. Maybe I am unable to understand something but I can't see how a fixed function can be helpful. Won't we still require some sort of python to pass the info?

[2021-07-15 10:31] JackThomson2 commented on #48
It would be a per function opt-in thing, definitely not for every function.

[2021-07-15 10:33] sansyrox commented on #48
If it as opt-in what would be the constant part?

[2021-07-15 10:39] JackThomson2 commented on #48
The response of the functions, as I say in the Hello world, we'd just save that.

[2021-07-15 10:52] JackThomson2 commented on #48
An example for this could be returning the static index page etc. If it's always returning index there would be no point checking the python function every time

[2021-07-15 16:34] sansyrox commented on #48
@JackThomson2 , I understand your proposal now. I think it will be a good addition and can make the response time faster. Also, I have something in mind that will allow us to use the decorator python syntax with it.

[2021-07-15 16:39] sansyrox commented on #48
I also will be implementing static file serving after merging your PR. That will be using native rust only imo.

[2021-07-15 20:37] sansyrox opened #51 "Away with limited internet access till 1st August"
### Discussed in https://github.com/sansyrox/robyn/discussions/50

<div type='discussions-op-text'>

<sup>Originally posted by **sansyrox** July 16, 2021</sup>
Hey Everyone! 👋

I will starting my first job soon and will be moving away from my family for the first time in 22 years(my age jic)!! So, I have decided to spend some quality time with the family and I will be away for the the next 15 days

[2021-07-15 20:41] sansyrox commented on #9
Implemented

[2021-07-15 20:41] #9 closed

[2021-07-15 20:44] sansyrox opened #52 "Improve the router"
Improve the router. Add the ability to have variable parameters in the routes.

- Consider if we need to use a regex based router | as ripgrep is very fast
- Or we need to use a vanilla stack based router
- Or we need to go all fancy and implement a radix tree (or something similar) ourselves!

[2021-07-15 20:44] sansyrox commented on #42
Implemented!

[2021-07-15 20:44] #42 closed

[2021-07-15 20:45] sansyrox commented on #19
Implemented!

[2021-07-15 20:45] #19 closed

[2021-07-15 21:19] sansyrox commented on #37
Fixed via this(https://github.com/sansyrox/robyn/pull/40)

[2021-07-15 21:19] #37 closed

[2021-07-15 21:25] JackThomson2 commented on #52
I think using the actix router library may be a good option

[2021-07-19 19:52] sansyrox opened #53 "Add body support for PUT, POST and PATCH"
Right now body can only be added to POST in robyn.

Add the feature to add the support for the other two as well.

[2021-07-20 19:07] sansyrox opened #54 "Add the ability to view headers in the HTTP Methods"
Return a `request` object instead of just a body.

The object will contain , body/data, headers , etc.

[2021-07-20 19:14] sansyrox opened #55 "Add the support to serve static directories"
Right now we can serve static files but now we should add the ability to serve static folders/directories.

This way we can add support to build folders of famous front end frameworks.

[2021-07-21 09:51] sansyrox commented on #53
https://github.com/sansyrox/robyn/pull/35/files#diff-15aeac99995bb0d1d4beb8c747f43517b279f82482f46a33b5461506d866869aR78

Make a generalisation for this.

[2021-07-21 10:02] sansyrox commented on #52
@JackThomson2 , are you talking about this: https://crates.io/crates/actix-router ?

I am unable to find any documentation for the same.

[2021-07-21 10:17] JackThomson2 commented on #52
Docs are here: https://docs.rs/actix-router/0.4.0/actix_router/ and there are examples in the repository: https://github.com/actix/actix-net/blob/master/actix-router/examples/flamegraph.rs

[2021-07-21 17:33] sansyrox opened #56 "Maintenance issue"
Integrate a github action for

- Creating releases in github
- Generating changelog

Add better docs
and code the homepage that you(Sanskar) have in mind.

[2021-07-24 21:03] sansyrox commented on #52
@JackThomson2 , I did read the example, but I am unable to understand what is being done here(https://github.com/actix/actix-net/blob/master/actix-router/examples/flamegraph.rs#L3) .

[2021-07-28 09:55] JackThomson2 opened #58 "Scaling to multiple cores is poor"
We should experiment with ways to speed this up

[2021-07-28 14:27] sansyrox commented on #58
@JackThomson2 , doesn't tokio automatically handle this?

[2021-07-28 14:44] JackThomson2 commented on #58
It does but we're bottlenecked by the GIL, in testing manually dropping the number of threads actually improves the performance

[2021-07-28 17:26] sansyrox commented on #58
@JackThomson2 , what do you mean by "dropping threads manually"?

[2021-07-29 09:41] JackThomson2 commented on #58
Setting the `number_workers` parameter when making the actix server

[2021-07-31 10:37] sansyrox opened #59 "Add a layer of caching in front of router"
Once we decide the kind of router we want to use, we should also consider adding caching to it.

[2021-07-31 10:38] sansyrox commented on #58
@JackThomson2 , I was thinking to give the developer the option of setting the number of workers.

[2021-07-31 13:54] sansyrox commented on #59
This is not a traditional kind of caching where we will be reimplementing redis. I am considering the possibility of having caching paths and their handlers.

[2021-08-02 11:11] sansyrox commented on #51
I am back! 🔥

[2021-08-02 11:11] #51 closed

[2021-08-03 10:51] JackThomson2 commented on #58
We should be able to scale up in number of cores really though. I've been experimenting with a multiprocessing approach

[2021-08-03 16:59] sansyrox opened #62 "Enable hot reloading by default"
I have been using the --dev=true flag a lot more than the prod build.

It makes sense in my opinion to enable the reload mode by default and have the developer disable it while deploying.

[2021-08-03 18:56] sansyrox opened #63 "Update to the pyo3 v0.14"
Github builds are failing. Maybe the latest version will fix this.

[2021-08-03 19:04] sansyrox commented on #53
Fixed here: https://github.com/sansyrox/robyn/pull/60

[2021-08-03 19:04] #53 closed

[2021-08-03 19:25] sansyrox commented on #58
@JackThomson2 , this statement always makes me excited 😅

[2021-08-04 18:02] JackThomson2 commented on #58
@sansyrox so far so good news, here's a demo of us sharing the same socket between multi processes. https://github.com/JackThomson2/shared_sockets

[2021-08-04 20:44] sansyrox commented on #58
Hey @JackThomson2 . I went through the codebase and it looks amazing!

I have one question, are you planning to handle HTTP requests manually over this? Or are you trying to just replace the Actix Socket that we use atm?

[2021-08-04 20:45] sansyrox opened #66 "Modularise code"
Try to modularise code.

The current code is smelling a bit and is giving off monkey patch vibes.

Try splitting it into a more organised file structure. Considering the inclusion of tests.

[2021-08-04 20:55] JackThomson2 commented on #58
We can pass these sockets into the actix server, so we could spin up an actix server per process and share that socket between the process

[2021-08-04 21:16] sansyrox commented on #58
@JackThomson2 got it. This makes sense. Amazing work! 🔥

[2021-08-05 08:50] JackThomson2 commented on #58
But the key awesome part is we can acquire the GIL once and hold onto it as we'd have 1 worker per thread reducing overhead.

[2021-08-05 12:31] sansyrox commented on #58
@JackThomson2 , do you mean that we will have one GIL per process? Or a single GIL will moderate every process and they will spawn their child threads?

[2021-08-05 16:19] JackThomson2 commented on #58
Each process has its own separate GIL which means we can have more, and as we established python is currently the bottleneck it should help ease that.

[2021-08-07 20:19] sansyrox opened #69 "Add the ability to share the server across the network"
Replace 127.0.0.1 with 0.0.0.0 in the server file.

Add this ability in the `app.start()` method.

[2021-08-09 08:11] JackThomson2 commented on #58
@sansyrox I have a working example here: https://github.com/JackThomson2/robyn/tree/multiprocess

[2021-08-09 08:25] sansyrox commented on #58
@JackThomson2 , thank you for the great work! ✨

 I have taken a look at it and I have a few questions:

1. Did you compare the performance with the original code?
2. https://github.com/JackThomson2/robyn/commit/6616b9aa892246cc766b04815932b6c65ab82d1b#diff-48d27698cc708c7efe770fd897e4885efaa0a15cae30d54936068603ba03bbd9R70 , why have you set workers=1 here?
3. Why is the loop iterating in the ran

[2021-08-09 08:46] JackThomson2 commented on #58
@sansyrox

1. Perf wasn't as great as I was originally expecting it was only around 20% ish, I'll play around with the code to
2. The idea was to have one worker per core, so we spin up a process per core.
3. This is as my machine is only a dual core, I haven't changed it to the num of physical cpus

I've been experimenting with an alternative routing library, which I'll hopefully get pushed soon

[2021-08-09 10:58] sansyrox commented on #58
@JackThomson2 , has the performance increased to 120% of original or has it dropped down to 20% of original?

You can use this instead of hard coding it.
[code]

[2021-08-10 08:46] JackThomson2 commented on #58
@sansyrox 120% of original, but I'd like that to be higher. I will look into that need to make sure that returns physical cores rather than virtual cores.

[2021-08-10 09:46] sansyrox opened #71 "Make a new release"
Make a new release with the updated docs and add https://github.com/sansyrox/robyn/pull/64 before making a release!

[2021-08-11 18:09] sansyrox commented on #71
it did. Closed Here(https://github.com/sansyrox/robyn/pull/65)

[2021-08-11 18:09] #71 closed

[2021-08-11 18:12] sansyrox commented on #63
Fixed here: https://github.com/sansyrox/robyn/pull/65

[2021-08-11 18:12] #63 closed

[2021-08-11 18:13] sansyrox commented on #55
Fixed here: https://github.com/sansyrox/robyn/pull/64

[2021-08-11 18:13] #55 closed

[2021-08-11 18:13] sansyrox commented on #38
Fixed here: https://github.com/sansyrox/robyn/pull/64

[2021-08-11 18:13] #38 closed

[2021-08-11 18:15] sansyrox commented on #48
@JackThomson2 , is this request relevant after the v0.6.0 release?

[2021-08-11 18:21] sansyrox opened #72 "For v0.7.0"
- [x] Improve the docs!
- [x] Add Python Tests!!!
- [ ] Modularise code
- [x] Add a performance comparison with other frameworks
- [x] Reveal the logo
- [ ] (Maybe) add docs for plugin creation. (Push to 0.8)
- [x] Integrate actix router (Push to 0.8)
- [x] Create the homepage
- [x] Make request object accessible across *all* the routes
- [x] Make headers accessible in every route
- [x] Integrate

[2021-08-12 08:10] messense commented on #4
The example usage on readme is currently broken: https://github.com/sansyrox/robyn#usage

[2021-08-12 10:56] sansyrox commented on #4
@messense , thank you! Updated! 👍

[2021-08-12 11:08] JackThomson2 commented on #72
Isn't Actix http 1.1 compliant already?

[2021-08-12 13:15] sansyrox commented on #58
@JackThompson2 , this is very strange. It is the same for me. I tried using
robyn 0.5.3 and 0.6.0 on the same machine. Both of them are serving around
22000 req/sec for me. Do you think that there could be a possibility that a
function could be a bottleneck on our code?

On Thu, Aug 12, 2021 at 12:54 PM Jack Thomson ***@***.***>
wrote:

[2021-08-12 13:19] sansyrox commented on #72
This is not with regards to Actix but with the HTTP requirements in
general. e.g. we can't headers in GET requests at this time. And testing
HEAD requests thoroughly and so on...

On Thu, Aug 12, 2021 at 11:09 AM Jack Thomson ***@***.***>
wrote:

[2021-08-12 13:52] JackThomson2 commented on #58
@sansyrox  Yes but 0.5.3 wasn't using actix, before the upgrade of pyo3 and async py it was hitting 27k

[2021-08-12 14:46] sansyrox commented on #58
@JackThomson2 , that is strange. But it was a mandatory update tho, the builds were failing on pyo3 v0.13.* .

[2021-08-13 16:03] sansyrox opened #74 "Add more HTTP methods"
- [ ] Head
- [ ] Delete
- [ ] Connect
- [ ] Options
- [ ] Trace

[2021-08-13 16:03] sansyrox commented on #74
https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods

Read here

[2021-08-13 21:09] sansyrox opened #75 "For 0.8.x"
Maybe this version will be called version 1.x.x, but it doesn't really matter at the moment.

I would want to focus on web socket integration after HTTP 1.1 integration.

I will be reading more about it and try to implement that.

[2021-08-21 11:20] sansyrox commented on #58
@JackThomson2 , did you get a chance to look at this again?

[2021-08-28 17:27] sansyrox opened #79 "Request apart from GET are not working"
I can trace back to this issue: 08dbb1414493333c2f7b23f8150a22d0f94e7972

[2021-08-29 08:37] sansyrox commented on #79
This has been fixed partially. When we serve a directory at an endpoint, all the subroutes are considered as a GET request.

[2021-08-31 07:09] sansyrox opened #81 "Add Pytest support for the test endpoints"
Integrate support for the Pytest files.

[2021-09-22 09:44] sansyrox commented on #81
This is complete now.

[2021-09-22 09:44] #81 closed

[2021-09-22 09:46] sansyrox opened #84 "Add fixtures in testing"
Instead of depending on two docker compose services, start the other Python services using fixtures.

[2021-09-22 09:50] sansyrox opened #85 "Add actix router"
Now we need to integrate actix router to parse the routes correctly.

[2021-09-22 17:52] Paroxyste opened #86 "Robyn the replacement of Quart"
Can Robyn replace or work with the Flask-based Quart framework?

[2021-09-22 22:26] sansyrox commented on #86
Hi @Paroxyste ,

Robyn does support all the required HTTP methods and it hopes to be an alternate in the future. But robyn is in a nascent stage right now.

[2021-09-22 22:38] sansyrox opened #87 "Add web sockets"
https://actix.rs/docs/websockets/

Read the docs here.

[2021-09-23 07:01] #86 closed

[2021-09-24 15:56] sansyrox commented on #85
https://docs.rs/matchit/0.4.3/matchit/

Can look at this as well

[2021-10-10 12:16] sansyrox commented on #69
Implemented

[2021-10-10 12:16] #69 closed

[2021-10-10 12:16] sansyrox commented on #54
Implemented!

[2021-10-10 12:16] #54 closed

[2021-10-10 12:19] sansyrox opened #91 "Share the TCP web socket across different cores"
Add the ability to share the TCP listener across multiple cores.

This should improve the scalability across multiple cores.

[2021-10-10 19:09] sansyrox opened #92 "Add web streams"
Add the ability to stream web requests.

Streaming Requests is not possible at the moment. Try integrating that as well.

[2021-10-13 08:18] sansyrox opened #93 "Add documentation about deployment"
We need to add docs about deployment

[2021-10-17 19:12] sansyrox opened #95 "Add middleware support"
Add middleware support for the next release

[2021-10-19 23:42] sansyrox opened #96 "Functions not working without request param"
Functions should work when no request params has been passed. This does not work at the moment.

Fix it.

Possible solution would be to inspect the number of arguments passed

Like this

[code]

[2021-10-20 19:09] sansyrox opened #97 "[Feature] Add support for Env variables and a robyn.yaml config file"
**Current Behavior**

Right now, Robyn only allows config variables to be passed as command line arguments.

**Desired Behavior**

Having it detect a config file at the root of the project will allow a cleaner invocation, which is the ideology of the project.

**High Level Implementation**
- Add a file detector and parser function (ideally on the rust side) and parse the file contents
- Parse the

[2021-10-24 13:27] sansyrox opened #98 "Remove the solution using dockerisation of tests"
Use fixtures in test instead of the docker compose dependency

And then fix the testing pipeline

Explore rust unit testing libraries.

[2021-10-25 23:04] #96 closed, assigned to nobody

[2021-10-28 21:15] #98 closed, assigned to nobody

[2021-10-31 00:57] sansyrox opened #101 "Add examples section"
Add documentation for examples.

[2021-10-31 00:58] sansyrox commented on #101
@shivaylamba

[2021-10-31 01:02] sansyrox opened #102 "Add Pycon talk link to docs"
Add the Pycon talk link in the docs!

[2021-10-31 11:58] sansyrox opened #103 "Robyn website not responsive on a 32inch monitor"
The website is breaking on large screens.
![Screenshot 2021-10-31 at 11 58 27 AM](https://user-images.githubusercontent.com/29942790/139581968-3e449c4c-662c-486f-b6c9-7faf8599d005.png)

[2021-11-07 21:18] sansyrox commented on #29
This has been implemented

[2021-11-07 21:18] #29 closed

[2021-11-07 21:18] sansyrox commented on #32
Implemented!

[2021-11-07 21:18] #32 closed

[2021-11-07 21:19] sansyrox opened #104 "Add websocket support"

[2021-11-07 22:50] sansyrox opened #105 "Add issue template, pr template and community guidelines"
Add issue templates, PR templates and community guidelines.

Decide on the contribution guidelines and community guidelines.

[2021-11-10 11:47] sansyrox commented on #91
Fixed here: https://github.com/sansyrox/robyn/pull/94

[2021-11-10 11:47] #91 closed

[2021-11-10 11:48] sansyrox commented on #52
The latest router has been implemented: https://github.com/sansyrox/robyn/pull/90

[2021-11-10 11:48] #52 closed

[2021-11-10 23:54] shivaylamba commented on #105
I would like to take this up @sansyrox

[2021-11-11 00:08] shivaylamba opened #106 "Dead Link for Test Drive Button on Robyn Landing Page"
Clicking on Test Drive lands on https://github.com/sansyrox/robyn/blob/main/test_python/base_routes.py which doesn't exist.

![image](https://user-images.githubusercontent.com/19529592/141213343-3efbd68f-faa7-41f8-a937-fd9d4fe60e1c.png)
![image](https://user-images.githubusercontent.com/19529592/141213362-91e2aa82-8000-436d-b2f3-1567d2022084.png)

[2021-11-11 00:13] shivaylamba opened #107 "Reveal Logo to be removed from Future Roadmap"
![image](https://user-images.githubusercontent.com/19529592/141213758-f027d0c5-18da-48e4-83f6-3ed025508aad.png)
Logo has already been revealed so can be removed from the list

[2021-11-11 00:13] shivaylamba commented on #101
Thanks @sansyrox I will start working on this.

[2021-11-12 01:52] sansyrox commented on #104
https://levelup.gitconnected.com/websockets-in-actix-web-full-tutorial-websockets-actors-f7f9484f5086

[2021-11-12 01:53] sansyrox commented on #104
https://actix.rs/docs/websockets/

[2021-11-12 02:22] sansyrox commented on #104
![image](https://user-images.githubusercontent.com/29942790/141397835-f064891b-c161-4418-b6e8-9410f83a47c0.jpeg)

Try implementing this through Python routing. All the other components look fairly straightforward.

[2021-11-13 13:40] sansyrox commented on #107
Thank you @shivaylamba :D

This is the new link: https://github.com/sansyrox/robyn/blob/main/integration_tests/base_routes.py

Can you please update it?

[2021-11-13 13:40] sansyrox commented on #106
Thank you @shivaylamba :D

This is the new link: https://github.com/sansyrox/robyn/blob/main/integration_tests/base_routes.py

Can you please update it?

[2021-11-13 14:35] sansyrox commented on #105
@shivaylamba , go ahead

[2021-11-16 20:00] sansyrox opened #110 "The default start is running the server at '0.0.0.0' instead of '127.0.0.1'"
Fix this and add integration tests so that this doesn't happen again.

[2021-11-17 22:53] #110 closed

[2021-11-25 13:09] SanchithHegde commented on #107
@shivaylamba The file is available at [`docs/roadmap.md`](https://github.com/sansyrox/robyn/blob/main/docs/roadmap.md?plain=1#L5) in case you want to open a PR.

[2021-11-28 02:41] sansyrox opened #112 "Try running ‘cargo fuzz’ to find the bugs"
Self explanatory

[2021-11-28 19:51] sansyrox commented on #74
These are implemented!

[2021-11-28 19:51] #74 closed

[2021-11-28 19:52] sansyrox commented on #92
https://medium.com/python-pandemonium/how-to-serve-http-2-using-python-5e5bbd1e7ff1

https://medium.com/python-pandemonium/how-to-serve-http-2-using-python-5e5bbd1e7ff1

[2021-11-28 20:26] sansyrox opened #113 "Async support for web sockets"
This release of web sockets will not have support for async functions.

Reason:

I was trying to implement async support in the traditional way. i.e. execute the entire async function in the process pool.

However, we must realise that WebSockets are different from HTTP requests in the way that sending the response to every await to the websocket clients will make sense. If the await returns `None

[2021-11-28 20:34] sansyrox opened #114 "Consider `yield`s"
All the methods in Robyn are based on the developer using `return`s. But if the `developer` starts using `yield`s, does it make it a generator?

Should we execute all the `yield`s in one go? Or should we execute them individually while maintaining a state of the output?

Need to give this a thought.

[2021-11-30 12:56] sansyrox opened #115 "Hot Reloading goes in an infinite loop"
Hot reloading has crashed.

Figure it out!

[2021-12-01 20:57] sansyrox opened #116 "Async web socket support"
This answer on stack overflow looks helpful.

https://stackoverflow.com/questions/64434912/how-to-correctly-call-async-functions-in-a-websocket-handler-in-actix-web

[2021-12-04 17:52] shivaylamba commented on #107
This was already fixed so closing this issue.

[2021-12-04 17:52] #107 closed

[2021-12-04 20:03] shivaylamba opened #119 "Inconsistency in steps mentioned in Readme to run locally"
There are a few inconsistencies in the steps to run the project locally and there is scope for improving documentation for running and setting up Robyn locally.

For instance :
![image](https://user-images.githubusercontent.com/19529592/144723093-d5025717-a73c-465a-a879-33cdc0b99cef.png)
There is no longer a test.py file.

[2021-12-04 20:04] shivaylamba commented on #119
@sansyrox

[2021-12-05 14:29] #105 closed

[2021-12-05 20:17] shivaylamba opened #120 "Robyn version 0.9.0 doesn't work on Mac M1 Models"
Error Log :

[code]

[2021-12-05 21:23] sansyrox commented on #120
@messense , The PyPi installation on M1 Mac has stopped working for some reason. By any chance do you happen to know why?

[2021-12-06 01:57] messense commented on #120
It works on my M1 Mac, you may need to upgrade pip `pip install -U pip`.

[code]

[2021-12-06 11:13] messense commented on #120
@shivaylamba Can you upload the wheel here? Please also paste the output of `pip debug --verbose` here.

[2021-12-06 11:17] shivaylamba commented on #120
[robyn-0.9.0-cp39-cp39-macosx_11_0_arm64.whl.zip](https://github.com/sansyrox/robyn/files/7660224/robyn-0.9.0-cp39-cp39-macosx_11_0_arm64.whl.zip)

[2021-12-06 11:27] shivaylamba commented on #120
[pipoutput.txt](https://github.com/sansyrox/robyn/files/7660275/pipoutput.txt)
Output of the pip debug --verbose command @messense

[2021-12-06 11:29] messense commented on #120
There are no arm64 tags in this, so I think you're using a x86_64 Python.

[code]

[2021-12-06 11:31] messense commented on #120
Here is my pip debug --verbose output

[code]

[2021-12-06 11:33] messense commented on #120
You can run this to confirm your Python's architecture:

[code]

[2021-12-06 11:50] shivaylamba commented on #120
![image](https://user-images.githubusercontent.com/19529592/144841123-485cc7df-f7dc-4bb5-ad4f-04ac632f3469.png)
@messense

[2021-12-06 14:24] shivaylamba commented on #120
I uninstalled Python and reinstalled it. It seems to work now. Thanks for your help @messense

[2021-12-07 06:26] #120 closed

[2021-12-07 06:31] sansyrox commented on #120
Thanks for all the help @messense 😃✨

[2021-12-08 22:28] #119 closed

[2021-12-08 22:28] #106 closed

[2021-12-11 11:39] Kludex opened #125 "Benchmark code source"
Hi @sansyrox :wave:

Just found your project today. :)

Do you perhaps have the source code you used for the benchmark? It would be cool to have that reference on the https://sansyrox.github.io/robyn/#/comparison page.

[2021-12-11 11:54] Kludex commented on #62
We can enable CLI arguments/options via environment variables as well. For instance, `ROBYN_<argument/option>` will enable the correspondent argument/option.

CLI option should take precedence anyway.

[2021-12-11 11:56] Kludex commented on #62
Gunicorn uses a single environment variable to define configuration `GUNICORN_CMD_ARGS`, Uvicorn uses `UVICORN_<argument>`. JFYK

[2021-12-11 12:20] Kludex opened #127 "Add PyPI classifiers"
We should add [PyPI classifiers](https://pypi.org/classifiers/). At least the ones for Python version support.

We can check how uvicorn, gunicorn, fastapi, flask, etc. add to their classifiers.

[2021-12-11 12:37] Kludex opened #129 "Add Python linter setup"
What do you think about adding some tooling here? e.g. black, isort and flake8

[2021-12-11 12:47] Kludex opened #130 "Add Python stubs"
I'm very noob in the Rust->Python binding stuff, but I guess we need `.pyi` files?

[2021-12-11 15:06] sansyrox commented on #125
Hi @Kludex ,

Firstly, welcome here :D

Yes, that's a great idea. I will add it on the comparison page itself.

Also, if you don't mind me asking how did you find the project? 😅

[2021-12-11 15:12] Kludex commented on #125
Well... I was talking to a person in a bar, and the person told me about a project that was implementing an ASGI server in Rust and binding it to Python. The name of the project was not mentioned, so I'm not sure if I found the right one as ASGI is not supported yet hahaha

[2021-12-11 15:17] sansyrox commented on #127
This is a very good idea. Thank you for the suggestion. I will have a read at the docs :D

[2021-12-11 15:19] sansyrox commented on #125
Wow. This is definitely the first time.

But maybe you came looking for copper but struck gold? xD (J.K.)

Thanks for your contributions and suggestions tho :D

[2021-12-11 15:20] sansyrox commented on #129
I usually use format on save and use `black` as my linter.

Adding a project-wide linter is definitely a good idea. Do you have some suggestions/strong feelings for the others?

[2021-12-11 15:22] Kludex commented on #127
If you need any help, let me know.

[2021-12-11 15:23] sansyrox commented on #130
I export the functions that need to be publicly available and python-language servers provide autocompletion for them.

Did you face an issue where the lsp was not recognizing anything?

[2021-12-11 15:31] Kludex commented on #129
You mean isort and flake8? Most of the projects that I'm aware add at least those :thinking:

Are you sure? :thinking: Because I do that as well, and it was automatically formatting some files there.

[2021-12-11 15:52] sansyrox opened #131 "Use `Click` for cli parsing"
https://click.palletsprojects.com/en/8.0.x/

[2021-12-11 15:54] Kludex commented on #131
https://github.com/encode/uvicorn/blob/master/uvicorn/main.py

[2021-12-11 16:01] Kludex commented on #130
I guess my thoughts were more about the types, but I see that the only one that matters on this issue would be the "request" dictionary. :thinking:

I didn't know it was a dict, but https://docs.python.org/3/library/typing.html#typing.TypedDict can be used to define the keys it holds, and the LSP will be able to autocomplete the keys as well, jfyk.

[2021-12-11 16:31] sansyrox commented on #130
Ah, I see. I am not a big fan of typed languages. So, I never really bothered to learn more about types in python. But I can definitely have a look if you folks plan to use it. :D

[2021-12-11 16:39] sansyrox opened #132 "Document the differences between workers and processes in Robyn"
Document the differences

[2021-12-11 16:50] sansyrox commented on #72
Need to move this to a different issue.

[2021-12-11 16:50] #72 closed

[2021-12-11 16:50] sansyrox opened #133 "Modularise code"

[2021-12-11 16:52] sansyrox commented on #129
Probably my editor was misconfigured then. But a project-wide linter is a good approach.

What the pro(s)/con(s) of using more than one linter?

[2021-12-11 16:57] sansyrox commented on #127
Thank you. Will do! :D

[2021-12-12 14:02] #13 closed

[2021-12-20 06:19] sansyrox opened #135 "Add ability to get text response in websockets"

[2021-12-20 06:21] sansyrox opened #136 "Add a blocking option in async web sockets"

[2021-12-20 06:52] #116 closed

[2021-12-20 08:41] #127 closed

[2021-12-21 18:08] sansyrox opened #138 "Have a look at Pydantic and swagger integration"

[2021-12-21 19:28] patchgamestudio opened #139 "Cannot run Robyn on Windows"
Running Python 3.9.7 on Windows 10 (Version 20H2, Build 19042.1348) with Robyn 0.10.0

When trying to run the basic Hello World app, there is some sort of fatal error that prevents it from running. The final error in my terminal says `PermissionError: [WinError 5] Access is denied`.

Just to be sure, I also tried running it in an admin console, and got a slightly different error. This time, the er

[2021-12-21 20:46] ShadowJonathan commented on #130
Supplying types would help immensely with verifying type-correctness with checkers like mypy, so I would really recommend bundling and maintaining pyi files with robyn.

Type annotations in python has been getting a boost and wider recognition lately, so I don’t think it’s wrong to focus on this as well.

If you pass user functions any object that’s only defined in native code, or expose functions

[2021-12-21 23:39] byteface opened #140 "not working on mac/windows"
i tried on all 3 platforms with/without venv. only seems to work on linux.

mac error:
...robyntest/venv/lib/python3.10/site-packages/robyn/__init__.py", line 9, in <module>
from .robyn import Server, SocketHeld
ModuleNotFoundError: No module named 'robyn.robyn'

one difference i noticed is the linux one has a .so file where the mac does not. neither does the windows but that error is

  File "C:\

[2021-12-22 17:36] sansyrox commented on #140
Hi @byteface ,

Thank you for reporting the errors and apologies for the late response. Windows error is evident and I will fix try to fix this in the latest release.

However, it is installing fine on my mac.

Can you list your python version, pip version and osx version?

[2021-12-22 20:05] byteface commented on #140
Sure, python 3.10 with latest pip. (Just tried with upgraded pip. still no luck)

tbf it's a 18mnth old mac on catalina.(2 versions back) but that OS is still under 13 months since it was officially replaced.

[2021-12-23 07:02] sansyrox commented on #140
@byteface , is your mac an intel mac or an apple silicon mac?

[2021-12-25 17:38] sansyrox commented on #130
@ShadowJonathan @Kludex , I started reading about `pyi` files today. So, do people maintain python stubs as well as python functions?

Could you folks point me to a codebase that uses them, so that I could take some inspiration from it?

[2021-12-25 17:43] sansyrox commented on #84
Already added.

[2021-12-25 17:43] #84 closed

[2021-12-25 17:43] sansyrox opened #141 "Upcoming release(s)"
I have recently got to know much more about what the community likes in the Python frameworks.

I will try to implement the following in the upcoming releases:

- [x] Check windows and mac support
        - Mac support works fine for me on intel macs. Need to check if it works well for arm macs as well.
- [ ] Add a way to release on test pypi before actual pypi
- [ ] Add the bases of python stubs

[2021-12-25 18:19] Kludex commented on #130
I'm on my phone, but look for "blacksheep python"

[2021-12-25 22:30] frosk1 opened #142 "Benchmarks to Björn, uvicorn etc."
Hey,

I really like Rust being the new C++ backend technology for python, so I do appreciate these kind of projects. To push the project it would be necessary to include typical benchmarks against only python solutions like gunicorn and c solutions like Björn.

[2021-12-26 08:23] sansyrox commented on #142
Hey @frosk1 ,

Thank you for your suggestion. We already have benchmarks for (flask and django) with gunicorn . I also didn't compare it with Björn. Will update the benchmarks :D

[2021-12-26 08:35] sansyrox commented on #142
I am planning to do a thorough benchmark. But till then here are the results.

Björn(Default config, as I was unable to find the config options in the first attempt):

[code]

Robyn (6 workers and 2 processes)
[code]

[2021-12-26 10:09] frosk1 commented on #142
@sansyrox sry for not checking the already present benchmarks in the first place xD

And thanks a lot for the new benchmark including Björn.

The results look really promising, go on with the project I really do like it. 👌

[2021-12-26 10:10] frosk1 commented on #142
You really can use the benchmarks to show off and generere more attention to the project. (just a suggestion)

[2021-12-26 10:10] #142 closed

[2021-12-26 20:59] sansyrox commented on #142
Thank you @frosk1 :D

Do you think adding the benchmarks on the main README will be of more help?

[2021-12-26 21:01] sansyrox commented on #140
@byteface , I was able to replicate your issue. You can fix the mac issue by upgrading your pip in your venv.

[2021-12-26 21:19] frosk1 commented on #142
Yes, absolutely ;)

[2021-12-27 05:13] #129 closed

[2021-12-28 20:47] patchgamestudio commented on #139
I've run it previously in the Ubuntu 20.04 LTS WSL, and it didn't throw any errors. That's a solid work-around for any developers that can install that on their machine.

[2022-01-02 16:13] sansyrox opened #145 "Plans for the new year! ✨"
Hey All! 👋

Wishing everyone a very happy new year. I have been on vaccation from 28th December and will be a little afk till 10th Jan. I will be on full throttle after that.

I am a believer of the statement that "Plans are useless but planning is important." and I plan to remain flexible throughout.

However, I do have some targets that I would like to achieve this year.

- [x] Check windows and

[2022-01-07 08:42] #115 closed

[2022-01-09 14:07] klaa97 commented on #145
Very exciting!

Have you considered adding an OpenAPI integration? I think that it is one of the main key points for the success of FastAPI in the Python ecosystem, and it would surely enhance the dev experience a ton.

As for how to do that, I think there have two main routes:
- going the Python way ([similarly to FastAPI](https://github.com/tiangolo/fastapi/tree/master/fastapi/openapi))
- integr

[2022-01-11 19:59] sansyrox commented on #145
Hi @klaa97 ,

Sorry for the late revert( I was travelling back from vacation) and thank you for the great suggestions! 😄

More docs / customization on the response should be supported (e.g. headers, status codes, and so on). Is it already implemented?

This is definitely in the works. Added to the roadmap!

Have you considered adding an OpenAPI integration? I think that it is one of the main key p

[2022-01-11 21:02] klaa97 commented on #145
Usually, an OpenAPI integration that allows having a ReDoc/Swagger documentation is used also in production (obviously not public if the service is not open source)... but there should be no performance drawbacks apart from a small one during server startup: you build the OpenAPI YAML only once from the routes you define, and then you can serve it using Swagger or ReDoc.

[2022-01-11 23:21] sansyrox commented on #145
The startup doesn't really matter much. I was worried more about request serving. This makes sense. I'll have a look at the docs. Thank you! :D

[2022-01-12 19:21] sansyrox opened #150 "Remove poetry dependency"
Poetry is not being used in the project and development.

Remove it.

[2022-01-12 19:25] sansyrox opened #151 "Remove freeport dependency"
We are using exposing shell for it. This is usually bad.

Fix it.

[2022-01-12 21:47] sansyrox opened #153 "Consider adding startup events"
What do you think about the idea of adding a startup event? To make an example, I may wanna initialize a connection pool to my database at startup, and re-use connections across requests. I cannot do that though in Python, since the asyncio loop running will not be the same as the one used to process the requests... a possible solution is to register a Pyo3 function in the Rust server during initi

[2022-01-13 22:21] #150 closed

[2022-01-18 03:50] myers commented on #140
I think the wheel file it's downloading on mac doesn't have the prebuild rust binaries it should.

[2022-01-18 21:05] #153 closed

[2022-01-18 21:08] sansyrox commented on #140
@myers , I think I've made a change in the latest versions(not released yet.)

Can you please try `pip install setuptools wheel` and then do `pip install robyn` ?

I just want to check if it works that way.

[2022-01-18 21:28] byteface commented on #140
pip was already latest.

installing latest robyn still missing the binaries even with setuptools/wheel.

[2022-01-18 21:36] myers commented on #140
[code]

then I tried to install robyn but same thing and it said it was using a cached wheel.  I found that *whl file and deleted and did this:

[code]

I tried to run a simple server, no luck

[code]

Upgraded pip as it suggested and then reinstalled robyn

[code]

different but still same error if I try and run example (same error as above)

[2022-01-18 22:20] sansyrox commented on #140
@myers @byteface , this is very strange. I will be releasing v0.12.0 in a day or two and this should be hopefully fixed then. I have changed the build backend for the latest version.

[2022-01-23 18:16] sansyrox opened #155 "Robyn's speed can be improved imo"
https://docs.rs/http_router/0.1.0/http_router/index.html

This package populates the macros, which are also thread-safe. So, releasing and acquiring RwLock should not be a bottleneck anymore.

Can try this.

[2022-01-23 18:42] sansyrox commented on #155
Cloning an Arc makes little sense if we want to use a RwLock. Can try to get rid of it.

https://stackoverflow.com/questions/33116317/when-would-you-use-a-mutex-without-an-arc

[2022-01-25 22:51] sansyrox commented on #139
@patchgamestudio , this should be fixed with the latest release. Can you please try one more time?

[2022-01-25 22:52] sansyrox commented on #155
Partial fix at : https://github.com/sansyrox/robyn/pull/156

[2022-01-25 22:54] sansyrox commented on #141
This is a duplicate issue of this https://github.com/sansyrox/robyn/issues/145

[2022-01-25 22:54] #141 closed

[2022-02-09 22:10] sansyrox opened #158 "Add better logging"
**Current Behavior**
Currently we are only using print statement. Implement a multi level logging scheme.

**Desired Behavior**
https://github.com/rust-lang/log

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-02-12 21:09] patchgamestudio commented on #139
I upgraded my test project to use `robyn==0.12.0` and I am still unable to run the project. It looks like there's a new error:
`OSError: The requested address is not valid in its context. (os error 10049)`

Again, I tried running both as a regular user, as well as with admin rights, but both came back with that error.

Looking at the robyn package, it looks like the default url is `128.0.0.1`, whi

[2022-02-12 21:50] patchgamestudio opened #159 "[BUG] Default URL cannot be assigned"
**Description**
When running `app.start()`, the default URL that Robyn assigns is `128.0.0.1`, which appears to be a [public IP in the Netherlands](https://awebanalysis.com/en/ip-lookup/128.0.0.1/). This causes the application to throw the following error on Ubuntu 20.04 (WSL2):
`OSError: Cannot assign requested address (os error 99)`
Windows error:
`OSError: The requested address is not valid in

[2022-02-12 22:48] patchgamestudio commented on #139
Digging more into this bug, it looks like there's an issue when trying to pass `copied_socket` to `multiprocess.Process()` in `__init__.py:Robyn.start()`. I'm seeing a lot of errors from `pickle`, the last one being:
`TypeError: cannot pickle 'builtins.SocketHeld' object`

I suspect that it's having trouble passing the socket to new processes because of how pickling objects works. I started search

[2022-02-12 23:24] sansyrox commented on #159
Thank you for this bug report. I see some typo crept in the package release. I will fix the code and start a better unit testing system in the next release(also hopefully tomorrow).

Thank you!

[2022-02-12 23:27] sansyrox commented on #139
Thank you @patchgamestudio for this. I just read the accepted answer here and it does have a lot of potential. I will try implementing it in the code tomorrow. Thanks :D

[2022-02-13 04:02] sjquant commented on #145
Super cool project! I'm looking forward to using it in the future.

[2022-02-13 15:17] sansyrox commented on #145
Thank you @sjquant . It really means a lot. :D

[2022-02-13 16:38] #159 closed

[2022-02-16 15:58] thewchan opened #161 "Build error"
Hi, I've been trying to build the newest version of robyn (v0.12.1) for distributing in conda-forge, but I've been getting this error during the build process:
[code]

I've tried conforming to the rust version in the CI to no avail. Does anyone have any advice?

[2022-02-17 18:57] sansyrox commented on #161
Hi @thewchan .

I will be happy to help. Can you please tell me the exact steps you took in the build process?

[2022-02-17 19:19] sansyrox commented on #161
@thewchan , I can see that one of the library functions is deprecated in the error log, which is probably why the resulting error. Can you confirm if you get the same error in the latest version, i.e. 0.13.0 . If yes, I will make a new release with the updated dependencies.

[2022-02-17 21:12] thewchan commented on #161
Thanks so much @sansyrox, really appreciate it. Hope this works!

[2022-02-19 19:43] sansyrox commented on #161
Hi @thewchan , I just released v0.13.1. It is working well on my Pipeline. Can you please check if this works for you too?

[2022-02-19 20:12] thewchan commented on #161
Thanks, I'll give it a try and report back!

[2022-02-20 00:54] thewchan commented on #161
@sansyrox It built correctly now; thanks so much!

[2022-02-20 00:54] #161 closed

[2022-02-20 01:35] sansyrox commented on #161
My Please @thewchan :D

Does this mean that robyn can also be installed via conda now?

[2022-02-20 01:37] thewchan commented on #161
Indeed; earlier versions (0.10 I think) are already available via `conda install -c conda-forge robyn`
v0.13.1 will take a bit for the CI to go through completely

[2022-02-20 20:56] sansyrox opened #163 "[BUG] Error in Multiprocessing of the app"
Probably related to #140

**Description**
[code]

**Expected Behavior**

This was giving an error when I was initializing a GPT 3 object.

Possible fix:
[code]

[Optional] **Additional Context**

Sample Code
[code]
---

[2022-02-20 23:21] sansyrox opened #164 "[Feature Request] Add reload and sessions and authentication in Robyn"
**Current Behavior**

Robyn is missing a lot of features in regards to authentication and authorisation. Implement them.

**Desired Behavior**

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-03-03 15:26] thewchan opened #166 "Build failure"
Hi, getting another build error for 0.14.0; it's something with the rust compilation again: https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=467486&view=logs&j=4f922444-fdfe-5dcf-b824-02f86439ef14&t=b2a8456a-fb11-5506-ca32-5ccd32538dc0

[code]

There are five other errors that are similar/identical.

[2022-03-03 16:00] sansyrox commented on #166
Oh, wow. This is not good. I suspect this has something to do with a new rust stable being released yesterday and robyn relying on a beta version of actix.

No worries, I will take a look this.

[2022-03-03 21:06] sansyrox commented on #166
Also, @thewchan i really appreciate you reporting issues here :D

[2022-03-03 22:09] sansyrox opened #167 "[BUG] Unable to modify headers in middlewares"
**Description**

After request and before request should also have the ability to alter the request.

**Expected Behavior**

Fix that.

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---

[2022-03-06 15:14] Polokghosh53 commented on #102
Hi @sansyrox
Would like to work on this issue but was not able to find a link to the Pycon talk. Would you mind to share it?
Also, where exactly in the docs do you want to add the link to ? Is it the Readme.md or something else?

[2022-03-06 21:50] sansyrox commented on #102
Hi @Polokghosh53 , thank you for volunteering.

Here is the talk link: https://www.youtube.com/watch?v=DK9teAs72Do

A sub heading in the readme works well for me. :D

[2022-03-07 03:49] Polokghosh53 commented on #102
Sure, on to it!

[2022-03-07 03:55] Polokghosh53 commented on #102
Do let me know if its done properly.

[2022-03-07 17:24] Susmita-Dey opened #169 "[Feature Request] Enhance CONTRIBUTING.md file"
**Current Behavior**

**Desired Behavior**

I want to enhance the contributing file to make it look beautiful and also add some more lines. Kindly assign this issue to me.
---
**Screenshots / Mockups**

**Alternatives**

---

[2022-03-07 19:44] sansyrox commented on #169
@Susmita-Dey , what do you have in mind regarding the improvement?

[2022-03-07 21:14] #102 closed

[2022-03-08 13:19] root21cuib commented on #132
@sansyrox I'll like to work on this issue

[2022-03-09 12:29] Susmita-Dey commented on #169
I want to enhance it with emojis and add a line like "Congratulations on your first contribution to this repository".

[2022-03-09 13:19] sansyrox commented on #132
@root21cuib , go ahead

[2022-03-10 16:33] sansyrox commented on #169
@Susmita-Dey , would that involve using some sort of github action?

[2022-03-10 19:15] Susmita-Dey commented on #169
No, the emojis would be added manually.

[2022-03-12 20:20] sansyrox commented on #169
Perfect! @Susmita-Dey , you can go ahead! :D

[2022-03-13 03:34] Susmita-Dey commented on #169
Thanks. Kindly assign this to me as there's no one assigned showing in the assignees section.

[2022-03-13 08:24] sansyrox commented on #169
@Susmita-Dey , done!

[2022-03-14 23:30] #167 closed

[2022-03-24 21:24] sansyrox opened #174 "Create Custom headers for the response."
**Current Behavior**

Right now, we are using the request headers in the response, which is not a smart way (to express it politely).

**Desired Behavior**
Add the ability to have headers in the response.

[2022-03-24 22:44] sansyrox opened #175 "Add an ability to notify websockets through other websockets/functions."
**Current Behavior**
Right now, we are returning an id. This helps us uniquely identify a websocket connection. But I would like to associate an object with the uuid, which would allow you notify the ws reciever.

**Desired Behavior**

I want to create and make the websocket object accessible like the request object and have a notify callback present in that.

This means that the next websocket up

[2022-03-24 22:45] sansyrox commented on #95
Middlewares have been added.

Closing this.

[2022-03-24 22:45] #95 closed

[2022-03-24 23:07] sansyrox opened #176 "A refactor"
**Current Behavior**

The last two issues show that there is a need to refactor some code in Robyn.

And these are the things that I want to focus on:
- ~Fix #174 and #175~
- ~See to this https://github.com/sansyrox/robyn/issues/166~
- ~See if there is a need to make sub modules in Python~
- ~Add some types definitions through mypy (still not very happy about this one, so may or may not do this).~

[2022-03-25 15:15] thewchan commented on #166
Newest version still incur the following errors:

[code]

[2022-03-26 02:04] mwilli20 opened #177 "Optional build feature for io_uring"
**Current Behavior**

Things are fast.

**Desired Behavior**

Things could be even faster 😹

If you haven't read much on io_uring I'd check it out. But what I'm thinking here is there could be an optional feature when building Robyn if you want to use io_uring

Since Robyn is using actix-web and they have an expiremental feature for io_uring you could have a similar feature here.

https://github.c

[2022-03-26 16:24] sansyrox commented on #177
Hi @mwilli20 ,

This looks like an interesting feature :D

I'd have to see how to have os specific builds. If this branch doesn't change the API much, I don't think that should be hard.

Do you have any previous experience with it??

[2022-03-26 20:56] mwilli20 commented on #177
I have not played with this yet but was thinking it could be cool. I think it's as simple as using https://doc.rust-lang.org/cargo/reference/features.html and no API change as it just changes the underlying runtime in actix-web.

[2022-03-29 21:03] sansyrox commented on #177
@mwilli20 , I just went through the docs. I can see that cargo supports features in a very simple way.

But I am not sure if maturin(the tool that builds robyn for distribution) does.

I did read maturin's user guide and found this link(https://maturin.rs/distribution.html?highlight=option#build-wheels) helpful. But still couldn't understand what would I need to change here.

Maybe @messense can p

[2022-03-30 02:46] messense commented on #177
@sansyrox You can use the `--cargo-extra-args` option to pass `--features`.

[2022-04-02 17:19] #174 closed

[2022-04-03 22:25] sansyrox commented on #177
Thanks @messense , just went through the documentation again. Thank you! :D

@mwilli20, I will implement as an optional release in the next version :D

[2022-04-03 22:32] mwilli20 commented on #177
Amazing!

[2022-04-03 23:04] sansyrox opened #181 "[Feature Request] Add a way to "send" in a websocket"
**Current Behavior**
No way to explicitly send something on a  websocket uniquely.

Either use a router with an id or find a way to send a socket "self" directly in the function.

And impl a method for that function.

**Desired Behavior**
This needs to be done.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-04-04 15:01] shivaylamba opened #182 "[Feature Request] Add list of sponsors on the project website"
**Current Behavior**

Add list of sponsors for Robyn on the project website.

**Desired Behavior**

Have a section for list of sponsors for Robyn on the project website.

[2022-04-05 19:17] sansyrox opened #183 "[BUG] Port not being free on app kill"
**Description**
Run a web server on any port and then press "Ctrl+C".

Then `lsof -i tcp:PORT_NUMBER`, e.g. `lsof -i tcp:5000` for 5000 port.

You will have to manually kill the process.

**Expected Behavior**
This should not happen.

[2022-04-05 19:24] sansyrox commented on #182
On it!

[2022-04-05 21:32] sansyrox commented on #182
Done: https://github.com/sansyrox/robyn

[2022-04-05 21:35] shivaylamba commented on #182
awesome

[2022-04-05 22:18] #182 closed

[2022-04-09 21:18] sansyrox commented on #166
@thewchan , I was able to finally figure out why this is happening. So, the build crashes every time the latest rust stable version is released(in every 6 weeks) as I am using a beta library for faster speeds.

Now, I am unable to see the logs(probably since they have expired) but ig I would need to be compiling it with the latest rust version or find some other alternative.

So, the build will be

[2022-04-09 22:17] #177 closed

[2022-04-09 22:18] sansyrox commented on #177
Implemented

[2022-04-10 21:30] sansyrox opened #186 "[BUG] Get rid of Hashmap Clones and Unwraps!"
**Description**

This will improve code quality and and also leaking port issue.

**Expected Behavior**

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---

[2022-04-10 21:34] sansyrox commented on #130
Hi @Kludex @ShadowJonathan , I have been thinking about adding some types to the public methods atleast.

Do you folks have any strong opinions about `mypy` or `pyright` ?

[2022-04-11 07:54] Kludex commented on #130
`mypy` is the most used, `pyright` is used by VSCode. I only use `mypy`.

[2022-04-11 21:39] sansyrox commented on #130
Ah okay. And do you think that mypy has gradual adoption or is it very enforcing?

[2022-04-12 08:28] Kludex commented on #130
You can progressively add support. See:
- https://github.com/encode/uvicorn/issues/998
- https://github.com/celery/kombu/issues/1511

[2022-04-12 17:49] thewchan commented on #166
Thanks! I'll will keep an eye out and keep you posted.

[2022-04-12 22:35] sansyrox commented on #130
Thank you @Kludex. I will have a look the PRs :D

[2022-04-13 04:29] Kludex commented on #130
Feel free to ping me as reviewer.

[2022-04-20 23:45] sansyrox opened #188 "[Feature Request] Add docs and inspiration from Cluster"
https://www.npmjs.com/package/cluster

[2022-04-23 09:41] sansyrox commented on #163
Finally have an access to a Windows machine. So, can check it out

[2022-04-27 02:39] trickster commented on #158
Better to use tracing, most of the rust ecosystem settled on this. https://github.com/tokio-rs/tracing/

[2022-04-29 20:34] sansyrox opened #191 "[Feature Request] Update the new architecture on the docs website"
**Current Behavior**

The website has an old architecture, update to a new one

**Desired Behavior**

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-04-29 20:35] sansyrox commented on #166
Hi @thewchan , can you check if the build faillure has been fixed in the latest update?

[2022-04-30 19:04] RobertCraigie commented on #130
@sansyrox Pyright is more feature rich and much faster than mypy. Feature requests / bug fixes also get implemented considerably faster.

The only feature that mypy has over pyright in my opinion is plugin support which is currently missing in pyright.

With that said, mypy is currently more popular than pyright for people's choice of type checker although pyright is still fairly popular and can a

[2022-04-30 20:19] thewchan commented on #166
@sansyrox still not working out it seems. Can you access these build logs?
https://github.com/conda-forge/robyn-feedstock/pull/17/checks?check_run_id=6232337032

[2022-05-01 12:08] c00kiemon5ter commented on #191
The current doc has an abstract description of the system depicting the happy flow.

It would be great to include what happens when things go back in different phases of the processing pipeline, especially where races can happen or conflicting tasks are picked up.

[2022-05-01 18:48] sansyrox commented on #191
<img width="832" alt="Screenshot 2022-04-29 at 9 13 28 PM" src="https://user-images.githubusercontent.com/29942790/166160046-e45d721a-0b3a-4e13-ad18-f30892274bfe.png">

Hi @c00kiemon5ter ,

Thank you for your comments. But this is the latest architecture diagram that I have.

I don't completely understand what you mean by this. Do you want me to also show where the possible errors may happen?

Do

[2022-05-01 18:55] sansyrox commented on #130
Hi @RobertCraigie ,

Firstly, thank you so much for the detailed explanation. :D

I checked out `prisma-client-py` , it looks amazing 🔥

So, then just adding and including Python stubs in the repo should be enough. Right?

Actually, I was thinking of adding stub files for everything. As I am not a big fan of inline types.(I know. I am sorry :p)

Would that bring any issue(s) ?

Thank you so much.

[2022-05-01 19:04] sansyrox commented on #166
@thewchan , https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=499695&view=logs&j=4f922444-fdfe-5dcf-b824-02f86439ef14&t=b2a8456a-fb11-5506-ca32-5ccd32538dc0

I just read through this log. Is the docker image available on docker hub? Or can you point me to the config that is being used here?

I would like to replicate the issue but I am unable to do so.

[2022-05-01 19:27] RobertCraigie commented on #130
Thank you :D

Yes, by supporting both I mean only using features that both type checkers support. For example, pyright has support for `Unpack`ing `TypedDict`s and recursive types whereas mypy does not. There are a few other features that only pyright supports but they are only for complicated use cases which I doubt this library would need.

No worries everyone has their own personal preferences,

[2022-05-01 21:16] sansyrox commented on #130
@RobertCraigie , got it. Thank you! :D

Also, `prisma-python-client` looks really nice. How easy do you think it be to make a crud app example or maybe even a plugin with Robyn?

If it's not that hard, I will try to make some integrations this week.

[2022-05-01 21:40] RobertCraigie commented on #130
Thank you :D

It should be fairly easy to make a crud app example. Here's a minimal example using Prisma with Robyn.

[code]

Using this Prisma Schema:

[code]

------

Something I also forgot to mention is that pyright has support for automatically creating stub files which can help you save a lot of time but you'll still have to edit the auto generated stubs. You can try it out by running `pyrig

[2022-05-02 18:12] jordangarside opened #193 "[Feature Request] Compare against some faster Python web frameworks"
Hi there 👋 ,

It’d be interesting to see [Vibora](https://github.com/vibora-io/vibora) and [Japronto](https://github.com/squeaky-pl/japronto) in your performance comparisons.

They’re not really maintained, but their performance is in a different class from things like uvicorn/django/flask.

[2022-05-02 18:59] sansyrox commented on #130
@RobertCraigie , wow! Thank you for both of them. :D

[2022-05-03 21:21] sansyrox commented on #193
Hi @jordangarside ,

I just saw these projects. I will definitely have a look the comparison. Thank you! :D

[2022-05-04 16:24] thewchan commented on #166
Do you mean the docker image for the rust distribution?

[2022-05-04 18:06] sansyrox commented on #166
Yess

[2022-05-04 18:12] thewchan commented on #166
I will inquire and get back to you, thanks!

[2022-05-04 19:52] sansyrox commented on #166
Thank you so much 😃

[2022-05-07 14:01] Dmourn commented on #183
I noticed this as well as many processes being spawned after press Ctrl+C.
This issue is caused in processpool.py. I thought it may be caused by not calling stop on the event loop ([python docs](https://docs.python.org/3/library/asyncio-eventloop.html?highlight=run_forever#asyncio.loop.run_forever))

I added some print statements and found that the call to `run_forever()` only triggers **after** p

[2022-05-07 22:21] sansyrox commented on #183
Hi @Dmourn ,

Thank you for helping with the issue :D

Calling `stop` from an exception handler could probably help. But I don't think we should remove `run_forever()` call.

Another culprit that I can think of is me using `unwrap()` very heavily in the code.

But thank you for pointing this out! 😄

[2022-05-08 13:13] sansyrox opened #194 "[Feature Request] Add precommit hook for black, flake8 and isort"
**Current Behavior**

No Precommit hook

**Desired Behavior**

Add a precommit hook

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-05-08 15:33] #130 closed

[2022-05-09 18:50] thewchan commented on #166
https://github.com/conda-forge/docker-images

^^^ It seems that we don't pull a specific rust container but rather whatever is default in these linux containers?

[2022-05-09 18:50] thewchan commented on #166
Here's what the admins said:

![image](https://user-images.githubusercontent.com/49702524/167477368-cc344df5-ede2-4a76-96c7-4929b98b6aa0.png)

[2022-05-09 19:23] sansyrox commented on #166
Thank you so much @thewchan . I was able to replicate and fix the issues. Everything should be hopefully fixed in 0.16.2. Can you check once?

[2022-05-09 19:45] thewchan commented on #166
Awesome, I'm waiting downstream for it to detect 0.16.2, will keep you posted

[2022-05-09 21:00] Dmourn commented on #183
No problem :) Thanks for making this cool project.

I didn't think that was the solution either. I tried adding `stop` and `os.killpg` in quite a few places, but no luck. So maybe the problem is on the rust side.

[2022-05-10 14:28] thewchan commented on #166
Success!
![image](https://user-images.githubusercontent.com/49702524/167652752-7a9d8abc-a8e1-4d4e-ba02-e745b920e709.png)

[2022-05-10 22:53] sansyrox commented on #166
Yess!! Thanks @thewchan for all the help. Feel free to close the issue once you've merged the PR upstream :D

[2022-05-10 22:53] sansyrox commented on #183
I am glad you like it :D

This is the thing that I will be addressing now. So, should be fixed soon hopefully :D

[2022-05-15 14:10] #183 closed

[2022-05-16 00:54] #166 closed

[2022-05-20 23:12] chrismoradi commented on #194
Can I work on this issue?

[2022-05-21 19:26] #194 closed

[2022-05-21 19:27] sansyrox opened #200 "[Feature Request] Remove extra logs"
**Current Behavior**

Robyn is logging too much in prod mode.

**Desired Behavior**

Remove them and merge them in a consolidated logging system.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-05-23 15:09] #186 closed

[2022-05-24 13:35] sansyrox opened #202 "[Feature Request] improve docs"
**Current Behavior**

Try using this https://squidfunk.github.io/mkdocs-material/
**Desired Behavior**

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-05-26 08:25] shivaylamba opened #203 "[Feature Request] Add community/ resources section in Docs or README"
**Current Behavior**

Add a dedicated section for any community related initiatives/ resources section like talks, blogs etc.

**Desired Behavior**

Dedicated section in README/docs for community/resources.

[2022-05-26 08:28] shivaylamba opened #204 "[Feature Request] Add PyCon USA lightning talk in resources section"
Add Lightning talk of Robyn at PyCon USA: https://www.youtube.com/watch?v=1IiL31tUEVk&ab_channel=PyConUS inside the resources section.

[2022-05-27 04:55] sansyrox commented on #203
Thank you @shivaylamba .

Can you share an example of what you have in mind?

[2022-05-27 04:55] sansyrox commented on #204
Yess. Great talk btw!

[2022-05-28 10:25] #200 closed

[2022-05-31 17:52] aryasoni98 commented on #202
I would like to work on it .

[2022-05-31 18:19] sansyrox commented on #202
Hi @aryasoni98 .

Thank you. Do let me know if you require any help from my end.

[2022-05-31 22:27] aryasoni98 commented on #202
@sansyrox I just need to improve the design part only or content part to ?

[2022-05-31 22:27] aryasoni98 commented on #202
@sansyrox can i use the hugo server theme ?

[2022-06-01 14:42] sansyrox opened #206 "[Feature Request] Add the ability to chain middlewares"
**Current Behavior**

Right now, only one middleware is executed. Add the ability to chain multiple middlewares. I was looking at prisma integration and it would be cool to have an ability to chain multiple middlewares.

**Desired Behavior**

Middleware decorators should be able to chain middlewares automatically.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-06-02 07:33] sansyrox opened #207 "[Feature Request] Return real strings instead of byte array as the response content"
**Current Behavior**

Automatically decode UTF8’s

**Desired Behavior**

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-06-03 09:10] sansyrox commented on #202
@aryasoni98 , I went through the docs of the link you shared with me. The search bar is only able to search through the headings but not the content.

Do you know if it is possible to do that?

[2022-06-03 09:12] sansyrox commented on #202
Also, is there a way to change the color scheme of the dark and white themes?

If both of these are possible then we can proceed with your suggestion . :D

[2022-06-03 11:28] aryasoni98 commented on #202
@sansyrox Yes, I can add the search bar in content header and also change the color scheme.

[2022-06-05 14:04] sansyrox commented on #202
@aryasoni98 , perfect then. You may start working on the issue.

[2022-06-05 14:05] sansyrox commented on #206
Add a way to add priority levels.

Like zIndexes.

[2022-06-06 06:35] aryasoni98 commented on #202
Okay Sure, Can you assign me.

[2022-06-07 19:40] sansyrox commented on #158
Fixed here: https://github.com/sansyrox/robyn/pull/201

[2022-06-09 09:59] sansyrox commented on #155
https://github.com/squeaky-pl/japronto/blob/master/src/japronto/router/analyzer.py#L43

Have a look at this implementation.

[2022-06-10 15:06] sansyrox commented on #4
Updated.

[2022-06-10 15:06] #4 closed

[2022-06-10 15:10] sansyrox commented on #56
Implemented

[2022-06-10 23:56] sansyrox opened #209 "[Feature Request] Add auto request optimization"
**Current Behavior**

No optimizations.

**Desired Behavior**

Analyse the byte code and add auto request optimization.
Add optimizations.

[code]
---
**Screenshots / Mockups**

**Alternatives**

---

[2022-06-17 00:22] sansyrox opened #211 "[Feature Request] Add commitizen as a dev dependency"
**Current Behavior**

It will allow better commit messages.

**Desired Behavior**

Add commitizen as a dev dependency.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-06-17 00:24] sansyrox commented on #193
Hi @jordangarside ,

I tried installing these projects on my machine but I was unable to get them up and running. I remember trying with 3.10 and 3.9 for sure and maybe even 3.8 .

Which Python version do you use them wiith?

[2022-06-17 00:29] sansyrox opened #212 "[Feature Request] Add sponsors in the repo and website"
**Current Behavior**

Add sponsors in the repo and the website.

**Desired Behavior**

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-06-18 15:50] relsunkaev commented on #138
Just FYI, the creator of Pydantic is currently working on [moving the core functionality to Rust](https://github.com/samuelcolvin/pydantic-core).

[2022-06-20 12:13] sansyrox opened #213 "[Feature Request] [Experiment] See if incremental spawning of threads helps reduce the CPU usage"
**Current Behavior**
Add a way to see if the incremental increase reduces CPU usage.

**Desired Behavior**

Experiment.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-06-20 18:09] Anirudh-2628 commented on #213
Hey i am new to this, can anybody help out how should I start contributing to this?

[2022-06-22 09:17] sansyrox opened #214 "[Feature Request] Allow dependency injection and make the objects accessible in the request object"
**Current Behavior**

No dependency injection is supported right now.

**Desired Behavior**

Add support for dependency injection. This will allow things like open database connections, loggers to be added once at the top level and be accessible to every route if required.

Something like this

[code]

**HIgh Level Implementation**

- Allow variable params in the callable functions
- Go to the fun

[2022-06-23 01:14] jordangarside commented on #193
Yeah it looks like I also had issues with the pypi installs for both,

For Vibora [try this](https://github.com/vibora-io/vibora/issues/195#issuecomment-423196635):
[code]

For Japronto [try this](https://github.com/squeaky-pl/japronto/issues/104#issuecomment-431665470):
[code]

[2022-06-24 21:59] sansyrox commented on #193
Thanks @jordangarside . I will give it a go :D

[2022-06-24 22:00] sansyrox commented on #138
Thanks @relsunkaev ! Glad to see the increase in Rust adoption in the Python community :D

[2022-06-24 22:00] sansyrox commented on #213
Hi @Anirudh-2628 ,

I am happy to help :D

What are your queries?

[2022-06-26 20:38] sansyrox opened #215 "[Feature Request] Allow the ability to add response types"
**Current Behavior**

Right now, the ability to add response types is not the best. Every response is returned as "plain-text".

**Desired Behavior**

Add the ability to alter the response types.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-06-27 05:48] Kludex commented on #125
Without the benchmark code source it's really hard to believe on those numbers.

[2022-06-27 19:08] #211 closed

[2022-06-27 19:19] sansyrox commented on #125
@Kludex , here is the benchmark repo I use: https://github.com/sansyrox/robyn-comparrison-benchmarks

[2022-06-27 19:23] sansyrox commented on #125
The stats in the readme are a little old. But the methods I use to benchmark are the same.

[2022-06-28 23:04] #212 closed

[2022-06-29 22:35] #151 closed

[2022-06-30 07:08] sansyrox opened #220 "[Feature Request] improve docs website seo"
**Current Behavior**

Pooer seo
**Desired Behavior**

Better seo
---
**Screenshots / Mockups**

**Alternatives**

---

[2022-07-02 12:27] sansyrox opened #221 "[Feature Request] Add views/view controllers"
**Current Behavior**

Right now, you can only use per route decorators.

**Desired Behavior**

Add the ability to add views. Views will allow the ability to better structure the code. As you can have all the different kind of routes(GET/POST/PUT....) for the same route under a single class.

**High Level Implementation**
- Create a `add_view` class/protcol
- Handle and call the python interface fu

[2022-07-03 00:11] sansyrox commented on #176
All done here!

[2022-07-03 00:11] #176 closed

[2022-07-03 00:57] sansyrox opened #222 "[Feature Request] Add a way to precompute the route existence"
**Current Behavior**

Currently the the string need to go through a list of all the hashmap keys

**Desired Behavior**

Add a pre-computed set to make the lookup time faster.
---
**Screenshots / Mockups**

**Alternatives**

---

[2022-07-03 01:41] sansyrox opened #223 "[Feature Request] Try to improve the routing speed."
**Current Behavior**

Currently, the routing speed is good but it can be improved in my opinion.

**Desired Behavior**

Try having a look if we will be able to add routes during the build time somehow. Looks almost impossible but can try.

Also can be useful here: https://pgjones.dev/blog/faster-routing-2022/

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-07-03 01:47] sansyrox commented on #209
In contrinuation to https://github.com/sansyrox/robyn/issues/48

[2022-07-03 18:13] #48 closed

[2022-07-04 22:23] sansyrox opened #224 "[Feature Request] Release on test pypi before releasing on the main PyPi"
**Current Behavior**

The current behavior is very risky and has lead to many wrong releases in the past.

**Desired Behavior**

Release a test version of every push on the cli

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-07-04 22:25] sansyrox opened #225 "[Feature Request] Add an all contributor bot in the README of the repo"
**Current Behavior**

The bot not present

**Desired Behavior**

Add this bot: https://allcontributors.org/docs/en/bot/overview
---
**Screenshots / Mockups**

**Alternatives**

---

[2022-07-08 19:10] sansyrox opened #226 "[Feature Request] Add mypy for pyi(stubs) synchronisation"
**Current Behavior**

I think the pyi files may start to diverge soon if nothing is implemented to keep them in place.

**Desired Behavior**

Use mypy with circleci.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-07-09 20:50] sansyrox opened #227 "[Feature Request] Create a benchmarking instance on Digital Ocean"
**Current Behavior**

Currently benchmarking works very randomly.

**Desired Behavior**

Need to create a benchmarking place.
---
**Screenshots / Mockups**

**Alternatives**

---

[2022-07-12 19:46] philschmid opened #231 "[BUG] Headers not available"
**Description**
Headers are not passed into `request` object.

service
[code]

Example request
[code]

Logs of `request`
[code]

**Environment:**
- Host OS: ubuntu
- version: `0.17.0`

[2022-07-12 21:43] sansyrox commented on #231
@philschmid , thank you for reporting the error. And this is a very big bug. It shouldn't have happened. I'll try to fix it asap.

[2022-07-13 00:00] sansyrox commented on #231
@philschmid , this has been fixed and will be released in v0.17.1. But, now something else has failed and I am at a conference(i.e. with limited access). So, it might take till this weekend to be released.

[2022-07-14 16:18] orvil1026 commented on #225
Hello .Can I take this Issue.

[2022-07-14 16:21] sansyrox commented on #225
@orvil1026 , sure. Go ahead! 😃

[2022-07-14 16:22] orvil1026 commented on #225
Okay, Thank you!

[2022-07-15 13:21] orvil1026 commented on #225
Hello, I have gone through the docs of the bot , there is an command to add contributors ` @all-contributors please add @<username> for <contributions>` to the (**.all-contributorsrc**)  but the contributors need to manually added to the readme.

I found an alternative [contrib.rocks](https://contrib.rocks/preview?repo=sansyrox%2Frobyn) , this link could be directly placed in readme file.

Do let

[2022-07-15 13:34] sansyrox commented on #225
@orvil216 , this is amazing. Please go ahead! 😃

[2022-07-15 14:17] sansyrox opened #236 "[Feature Request] add clippy in ci"
**Current Behavior**

Floppy not present

**Desired Behavior**

Add clippy
---
**Screenshots / Mockups**

**Alternatives**

---

[2022-07-16 00:03] sansyrox commented on #236
Thanks @AntoineRR :D

Do let me know if you face any issues and I will be happy to help 😄

[2022-07-17 14:33] #225 closed

[2022-07-17 14:43] sansyrox opened #239 "Migrate the community to discord"
**Description**

Gitter was initially chosen as the community platform due to it being FOSS. However, I've come to realise that not many people are on gitter and having a community platform without a community defeats the purpose. DIscord is the most common platform these days, so we are moving to discord.

**Expected Behavior**

Move to discord.

[2022-07-17 16:45] sansyrox opened #240 "[BUG] Move away from circle ci"
**Description**
Need to move away from circle ci as it is unnecessary. I would like to move everything to github actions.

**Expected Behavior**

Move the build process github actions.

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---

[2022-07-17 18:13] #236 closed

[2022-07-18 22:14] AntoineRR commented on #240
Hi, I will try to do this as I already worked on the CI previously

[2022-07-18 22:21] sansyrox commented on #240
@AntoineRR , thank you! Do let me know if you have any questions :D

[2022-07-19 12:35] #231 closed

[2022-07-20 20:43] #240 closed

[2022-07-21 20:49] sansyrox opened #243 "[BUG] Request Body doesn't deal well with different kinds of form data."
**Description**

**Expected Behavior**

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---

[2022-07-21 22:00] #75 closed

[2022-07-21 22:01] #59 closed

[2022-07-21 23:06] sansyrox opened #244 "[Feature Request] Add response body in middlewares before and after request"
**Current Behavior**

Now, there are four issues related to this topic:
- It should be possible to access `response["body"]` in the `after_request` middleware.
- There is no response dictionary accessible in the middleware. We only return the request object.
- If we have a `before_request` middleware before a middleware then we can't access the body in the post route.
- And finally, we can't even

[2022-07-21 23:09] sansyrox commented on #206
and add a default middleware inside the codebase

[2022-07-22 21:03] crypt0miester commented on #125
would love to see comparisons with blacksheep as well.

https://github.com/Neoteroi/BlackSheep/

[2022-07-22 22:48] sansyrox opened #245 "[Feature Request] Add a way to have default authentication or authorisation"
**Current Behavior**

Currently, Robyn does not support a default authentication and authorization feature.

**Desired Behavior**

I would like to add a default authorization feature that would still be overridable by the developer if need be.

A good place to understand the `authorization` concept is: https://www.neoteroi.dev/blacksheep/authorization/

A high level plan of implementation could be

[2022-07-24 02:45] sansyrox commented on #125
Thanks @crypt0miester .

Would it be possible for you to add a hello world example here?

https://github.com/sansyrox/robyn-comparrison-benchmarks

[2022-07-24 06:09] crypt0miester commented on #125
interesting, I got 40% of robyn. I couldn't add due to not enough time. will add it when I have some free time.

cheers. and good luck mate.

[2022-07-24 06:22] crypt0miester commented on #145
may I suggest using msgspec for json encoding and decoding.

https://github.com/jcrist/msgspec

[2022-07-24 06:53] sansyrox commented on #145
Thanks @crypt0miester . I was not aware about msgspec. Is it faster than the native python json encoding and decoding?

[2022-07-24 13:16] sansyrox opened #247 "[Feature Request] Add openapi integration"
**Current Behavior**

Robyn doesn't generate [OpenAPI](https://swagger.io/specification/) documentations by default. OpenAPI integration is a highly demanded feature and I am super keen on supporting it.

**Desired Behavior**

A few good links to have a look at are:

- https://github.com/marshmallow-code/apispec
- https://github.com/tiangolo/fastapi/blob/bcabbf8b37db3fbc020560e94ad2f90e64d1510a/fa

[2022-07-24 13:23] sansyrox commented on #247
https://github.com/tiangolo/fastapi/blob/bcabbf8b37db3fbc020560e94ad2f90e64d1510a/fastapi/openapi/docs.py#L1

[2022-07-24 13:56] crypt0miester commented on #145
indeed it is. it is rather faster than orjson.

it has amazing functionalities other than `jsonifying`

[2022-07-24 15:25] sansyrox commented on #145
Ah, perfect then. I will go through the documentation. Thank you! :smile:

[2022-07-24 22:09] sansyrox commented on #239
All done!

[2022-07-24 22:09] #239 closed

[2022-07-26 21:29] sansyrox opened #249 "[BUG] The --dev mode spawns more servers without clearing previous ones."
**Description**

The `--dev` mode is going in infinite recursion when a file is changed in the directory.

To check, you can do
`lsof -i tcp:5000`

**Expected Behavior**

Handle a base case that might have been missed here.

**Environment:**
- Host OS: every

---

[Optional] **Additional Context**

---

[2022-07-28 18:10] justanotherbyte opened #252 "[BUG?] Startup failure OSError: [WinError 87] The parameter is incorrect"
**Description**

When trying to start a Robyn app using the source code on the repo's README.md example, i get a massive error.
[code]

**Expected Behavior**

Robyn runs I guess?

**Screenshots**

My code:
![image](https://user-images.githubusercontent.com/62267480/181607655-3fce0457-4633-4ff4-b498-21717c9da567.png)

**Environment:**
- Host OS: Windows
- Browser:  Firefox
- Python Version: 3.10.4

[2022-07-28 18:32] sansyrox commented on #252
@justanotherbyte , can you please try running the `app.py` with the command:

[code]

And share the output with me?

[2022-07-28 19:30] justanotherbyte commented on #252
[code]
same error

[2022-07-28 19:31] justanotherbyte commented on #252
If it makes a difference, I am running the command like this: `py app.py --processes 1 --workers 1` because I am on windows

[2022-07-28 20:57] sansyrox commented on #252
@justanotherbyte , you're running it the right way. But this is not an expected behaviour.

I will have a look at this. Thank you!

Hopefully it should be fixed by the weekend.

[2022-07-28 21:00] justanotherbyte commented on #252
Awesome thank you.

[2022-07-28 21:01] sansyrox commented on #252
A potential fix looks like something here: https://stackoverflow.com/questions/36370724/python-passing-a-tcp-socket-object-to-a-multiprocessing-queue

Need to investigate more.

[2022-07-31 02:24] sansyrox commented on #252
@justanotherbyte , can you check if it works on wsl?

[2022-07-31 14:52] sansyrox opened #254 "[Feature Request] Refactor Code to include better types"
**Current Behavior**

Right now, there are a lot of keys as `Strings` in hashmaps. And a lot of strings are being passed where enums would be a better choice.
I lot of problems are being faced here. https://github.com/sansyrox/robyn/pull/253

**Desired Behavior**

Refactor the codebase.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-07-31 15:00] sansyrox opened #255 "[Feature Request] Add some sort of helper/demos in the python modules"
**Current Behavior**

Currently, no demos or anything.

**Desired Behavior**

Inspired from here: https://twitter.com/willmcgugan/status/1553643438909915136

Add some demos/helper strings/documentation when running the module through this command `python3 -m robyn.class_name`

[2022-08-01 17:21] justanotherbyte commented on #252
Yes, it works on wsl

[2022-08-01 17:21] justanotherbyte commented on #252
Does robyn only work on Linux?

[2022-08-01 19:37] sansyrox commented on #252
@justanotherbyte , it should work on all platforms. I am trying to set up a windows environment to fix this issue.

[2022-08-02 03:04] hezhaozhao-git opened #256 "[Feature Request]add test results of python's fastest frameworks sanic and robyn"
**Current Behavior**

add test results of python's fastest frameworks sanic and robyn,The speed of sanic is much faster than fastapi, and the production use is very stable, I tested the test results of sanic and robyn
**Desired Behavior**

add test results of python's fastest frameworks sanic and robyn,The speed of sanic is much faster than fastapi, and the production use is very stable, I tested

[2022-08-02 12:02] sansyrox commented on #256
@hezhaozhao-git , thank you for the stats.

Can you share the result of the command `neofetch` on your terminal too? So, that we can have the specs of the PC as a reference too?

[2022-08-02 13:17] sansyrox commented on #221
In addition to generic(Class like) views, add the ability to add views from nested functions.

We can use `nestd` to extract the function
[code]

And in the main file

[code]

[2022-08-02 13:22] sansyrox opened #257 "[Experimental Feature Request] Monadic Error handling"
**Current Behavior**

I have come to realisation that we require types in the repo.

Try adding Monadic error handling. That way, both the rust and python code will become similar to look at. The code structure will become similar in both the codebases.
**Desired Behavior**

Try adding Monadic error handling.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-08-02 13:40] sansyrox opened #258 "[Experimental Feature Request] Story driven programming"
**Current Behavior**

Very concise documentation in the codebase.

**Desired Behavior**

I recently had the idea of writing documentation in the codebase like a story or a narration.

It should be folded by default as I predict that it will be very verbose.

But if we are able to write a documentation that will house things like
- related files
- where are helper functions present
- which files ca

[2022-08-03 01:19] hezhaozhao-git commented on #256
.OMMMMo           OS: macOS Mojave 10.14.6 18G9323 x86_64
               OMMM0,            Host: Macmini6,2
     .;loddo:' loolloddol;.      Kernel: 18.7.0
   cKMMMMMMMMMMNWMMMMMMMMMM0:    Uptime: 1 day, 23 hours, 40 mins
 .KMMMMMMMMMMMMMMMMMMMMMMMWd.    Packages: 92 (brew)
 XMMMMMMMMMMMMMMMMMMMMMMMX.      Shell: zsh 5.3
;MMMMMMMMMMMMMMMMMMMMMMMM:       Resolution: 1920x1080, 1080x1920
:MMMMMMMMMM

[2022-08-06 00:32] sansyrox commented on #252
Blocked on this issue: https://github.com/sansyrox/robyn/issues/224

[2022-08-06 15:35] #224 closed

[2022-08-11 19:02] sansyrox commented on #226
https://mypy.readthedocs.io/en/stable/stubtest.html#stubtest

[2022-08-11 19:02] sansyrox commented on #226
Add this in github actions

[2022-08-11 19:03] sansyrox commented on #226
https://mypy.readthedocs.io/en/stable/stubgen.html#stubgen

[2022-08-11 20:56] #139 closed

[2022-08-17 10:43] sansyrox opened #265 "[Feature Request] fix clippy issues"
**Current Behavior**

Clippy has issues

**Desired Behavior**

Fix them

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-08-17 17:02] sansyrox commented on #255
Try adding a documentation walkthrough(maybe an interactive TUI) when someone would run `python robyn`.

[2022-08-20 16:46] sansyrox commented on #252
This has been fixed in #261. Thanks for the report.

[2022-08-20 16:46] #252 closed

[2022-08-21 16:50] sansyrox commented on #226
This issue is not needed anymore as we don't have separate pyi files

[2022-08-21 16:50] #226 closed

[2022-08-21 18:44] sansyrox opened #267 "[Feature Request] ASGI Support"
**Current Behavior**
I have recently come to know that many existing frameworks may also benefit from using Robyn as their servers if possible. I can see the potential of using Robyn as an ASGI server.

I do understand that using Robyn as an ASGI would not provide as much speedup as using it with Robyn itself(due to inlining of functions, const requests, const request optimisations and so on.)

Bu

[2022-08-22 13:45] sansyrox commented on #140
@myers @byteface , this issue is fixed in (v0.17.3)

https://github.com/sansyrox/robyn/pull/261

[2022-08-22 13:45] #140 closed

[2022-08-22 13:46] sansyrox commented on #163
https://github.com/sansyrox/robyn/pull/261

[2022-08-24 16:16] sansyrox opened #268 "[Feature Request] ASGI Support for other framework"
**Current Behavior**

Currently, Robyn has a very fast server implementation but is coupled to the Robyn framework itself.

**Desired Behavior**

Implement an interface that could allow other frameworks to use Robyn as their server.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-08-29 01:22] shivaylamba opened #270 "[Feature Request] Add Digital Ocean to list of sponsors in Robyn Docs"
We should add Digital Ocean to the list of sponsors in docs: https://sansyrox.github.io/robyn/#/sponsors
Can be added to the PR for docs improvement: https://github.com/sansyrox/robyn/pull/269 @sansyrox

[2022-08-29 02:52] sansyrox commented on #270
Thanks @shivaylamba . Done! :D

[2022-08-29 03:14] sansyrox opened #271 "[Feature Request] Build more on the changed documentation"
**Current Behavior**

New documentation is more verbose than before. But it requires more work.

**Desired Behavior**

- Add the latest performance comparison.
- Document the public-facing API
- Document Usage examples
- Fix any grammatical error.
- Hosting
- .....

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-08-29 05:48] #270 closed

[2022-08-29 05:56] #204 closed

[2022-08-29 05:57] #191 closed

[2022-08-29 05:57] #101 closed

[2022-08-29 05:57] #203 closed

[2022-08-29 09:44] Meldiron opened #272 "[BUG] README.md Discord link is invalid"
**Description**

Link in the [README.md](https://github.com/sansyrox/robyn/blob/main/README.md) of this repo links to an invalid Discord invitation.

**Expected Behavior**

Valid invitation link.

**Screenshots**

![CleanShot 2022-08-29 at 11 41 32](https://user-images.githubusercontent.com/19310830/187173065-530a7a3b-db4f-49c2-bea0-29b17cc2a714.png)
---

[Optional] **Additional Context**

I belie

[2022-08-29 17:49] sansyrox commented on #272
Thank you @Meldiron :smile:

It has been fixed now. Here is the link btw: https://discord.com/invite/rkERZ5eNU8

[2022-08-29 17:49] #272 closed

[2022-09-01 21:45] guilefoylegaurav commented on #249
Hey @sansyrox I am interested in taking this up. Can you kindly elaborate more on this?
- What kind of result am I expected to see with `--dev` and `lsof -i tcp:5000`?
- It seems that hot reload is not really working on my system? I ran the base_routes.py with the `--dev` flag and cannot see changes being reflecting in the browser immediately when I alter anything in the `integration_tests` direct

[2022-09-02 01:06] sansyrox commented on #249
Hi @guilefoylegaurav ,

Firstly, thank you for your interest.

You will notice changes when you change `integration_tests/base_routes.py` file.

When you type `lsof -i tcp:5000` , you should not see any output after the dev server has been killed. However, if you run `pytest integration_tests`, you will see many processes that have to be killed manually.

[2022-09-03 01:01] sansyrox commented on #271
Feedback from Reddit

------------------------------------------------

I like the look and feel of the documentation, but the navigation link is at the bottom on my android with firefox. It confused me for a minute. I'm used to those being near the top.

In the features page, in the first two examples, the handler doesnt take any arguments whereas the rest of the examples on that page take a requ

[2022-09-03 21:56] sansyrox opened #276 "[Feature Request] GraphQl integration with Strawberry"
**Current Behavior**

Right now, we have a basic version graphql support. Create a proper integration.

This integration is blocked view controller and views.

**Desired Behavior**

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-09-04 17:06] guilefoylegaurav commented on #249
Hello @sansyrox

- This problem is coming up because in the **teardown** in **conftest.py**, `process.terminate()` has been used which does not kill the child processes spawned

- Replacing `process.terminate()` with `os.killpg(os.getpgid(process.pid), signal.SIGKILL)` would solve the problem

- Also the pytest fixtures inside **configtest.py** have to be scoped to **session** level

Please feel f

[2022-09-04 21:12] sansyrox commented on #249
@guilefoylegaurav , great spot. I had fixed this issue thrice and it still appeared, so I assumed it would be the same this time too. :rofl:

Do you want to create a PR for the same?

[2022-09-04 21:39] guilefoylegaurav commented on #249
Sure! If you say so, I'm ready to raise a PR

[2022-09-04 22:12] sansyrox commented on #249
@guilefoylegaurav , perfect then :D

[2022-09-10 16:17] shivaylamba opened #279 "[Feature Request] In the future add sample for SurrealDB integration with Robyn"
**Current Behavior**
Add a plugin/examples for SurrealDB support with Robyn when Python support for https://surrealdb.com/ is added.

[2022-09-11 13:13] sansyrox opened #280 "[Feature Request] [Long Stretch - Experimentation] - Try creating a web playground to demonstrate the usage of robyn"
**Current Behavior**

Try creating a web playground of Robyn that will allow people to write code without opening a terminal or their code editor.

**Desired Behavior**

Use something like python web assembly. And mock out the router to create a playground.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-09-11 13:15] sansyrox commented on #209
Also consider adding inlining based on:

- query params
- headers
- body
- and other variables in http requests

[2022-09-11 13:20] sansyrox opened #281 "[Feature Request] [Long Stretch - Experimentation] - Research on how/if having a custom compiler will help"
**Current Behavior**

I just read that `youtube-dl` has a custom compiler for JS. Maybe consider having a custom compiler for something in Robyn? Have a CLI tool that pre-compiles before running the app?

**Desired Behavior**

This suggestion could either be incredibly stupid or smart. Either way, worth checking it out.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-09-15 00:08] sansyrox opened #283 "[BUG] The --dev flag not working on Windows"
**Description**

`--dev` flag not working on windows

[code]

To replicate this issue: `pytest -s integration_tests` . You will see two tests failing.

**Expected Behavior**

The tests should not fail. 😄

**Screenshots**

**Environment:**
- Host OS:  Windows
---

[Optional] **Additional Context**

---

[2022-09-15 19:40] guilefoylegaurav commented on #283
Hey @sansyrox  I am interested in taking this up :) Will look into this issue soon

[2022-09-15 22:51] sansyrox commented on #283
Thanks @guilefoylegaurav . Let me know if you require any suport/information from my end :smile:

[2022-09-18 19:45] #249 closed

[2022-09-20 21:20] sansyrox opened #284 "[Feature Request] [Long Stretch - Experimentation] - Try writing and compiling in a python docstring"
**Current Behavior**

Rust cannot be written in Python code.

**Desired Behavior**

Try writing rust code in Python docstrings.

Either this will one of the stupidest or the smartest things. I am not sure. But I sure it will be fun to implement.
---
**Screenshots / Mockups**

**Alternatives**

---

[2022-09-22 14:55] sansyrox opened #285 "[Feature Request] Add `@wraps` in route dectorators"
**Current Behavior**

Right now, we are not wrapping the route decorators. This leads to them losing the associated metadata.

**Desired Behavior**

Use `functools.wraps` to wrap the decorator.
---
**Screenshots / Mockups**

**Alternatives**

---

[2022-09-24 13:10] guilefoylegaurav commented on #283
@sansyrox I am sorry, could not update you on this - stuck with mid-terms for 4 days. Shall get back to this soon.

[2022-09-24 15:53] sansyrox commented on #283
Hi @guilefoylegaurav ,
No worries. Take your time 😄

Also, all the best with your mid-terms! ✨

[2022-10-06 22:06] #97 closed

[2022-10-07 12:39] sansyrox opened #289 "[Feature Request] Implement type defined easy access query parameters."
**Current Behavior**

_Originally from discord_

I'm talking about the type definition, and the controller receiving a predictable variable, exactly like the example above.
Everything in Robyn happens through a request dictionary, just like flask. meaning you don't know the keys, don't know their types, and don't have autocomplete
[code]
**Desired Behavior**

Add type defined query params.
---
**S

[2022-10-07 12:46] sansyrox commented on #289
Step 1: Splitting the `request` object into `**kwargs`

[2022-10-08 13:12] Overflow0xFFFF commented on #265
I took a look into this issue as part of Hacktoberfest. Clippy has an issue with PyO3 projects that appears will be fixed with Rust 1.65 (See https://github.com/rust-lang/rust-clippy/issues/8971#issuecomment-1214112284). An initial run of `cargo clippy -- -W clippy::all` shows that 9 out of the 10 warnings relate to that issue and will potentially go away with Rust 1.65.

[2022-10-08 19:16] sansyrox commented on #265
Ah, perfect. That is good news @Overflow0xFFFF :D

What is the 10th warning?

[2022-10-08 19:32] Overflow0xFFFF commented on #265
@sansyrox: Using a `match` instead of `if let` due to an empty arm of the match statement throws this warning:

[code]

[2022-10-09 17:18] fregataa opened #291 "[Feature Request?] Update `matchit` crate to the most recent version"
**Current Behavior**
Robyn uses `matchit` crate version **0.4.3** currently, and the most recent version of `matchit` is **0.6.0** for now 2022 Oct 10th.

**Desired Behavior**
We do not need to update `matchit` to "0.6.0" ASAP because it is also under development.
But we will have to update the dependency when the crate is *stable*.
I checked `matchit::Node` is replaced with `matchit::Router` and

[2022-10-12 15:10] sansyrox commented on #291
Perfect. Thanks for the update. I will have a look at the updates.

[2022-10-12 21:14] sansyrox commented on #285
@guilefoylegaurav , sure.

So, you can have a look here that `functool.wraps` helps in preserving metadata(name, magic methods of a function and so on.) here(https://stackoverflow.com/questions/308999/what-does-functools-wraps-do).

Now, robyn also has many decorators like here(https://github.com/sansyrox/robyn/blob/main/robyn/__init__.py#L185) . I wanted to check if we are still preserving the me

[2022-10-12 21:19] sansyrox commented on #265
Perfect, thanks @Overflow0xFFFF . Do you want to create a PR for this ?

[2022-10-13 05:47] guilefoylegaurav commented on #285
I see. I get the point.
Basically, I was taking "metadata" to mean something else.

[2022-10-15 18:13] Overflow0xFFFF commented on #265
I'm going to work with a friend on installing the Rust toolchain and seeing them through their first Hacktoberfest. Expect a PR shortly!

[2022-10-16 05:39] sansyrox commented on #265
Hey @Overflow0xFFFF ,

Thank you for helping out new contributors to the repo. I really appreciate it 😊😊

[2022-10-26 11:40] sansyrox commented on #285
@guilefoylegaurav , are you working on this or can I take it up?

[2022-10-26 12:00] guilefoylegaurav commented on #285
@sansyrox, you can take this up - I haven't been working on this actually.
I have been exploring some other feature request issues that I can potentially contribute to.

[2022-10-26 15:23] sansyrox commented on #285
@guilefoylegaurav , alright perfect.

[2022-10-27 06:43] kamaravichow opened #296 "[Feature Request] Cross Origin support similar to flask-cors"
**Desired Behavior**
Cross-Origin Request management for web apps as browsers block them if they are hosted on a different domain

**Alternatives**
We could manually add the headers

[2022-10-27 06:45] sansyrox commented on #296
Thanks for the feature request @kamaravichow .

Do you happen to know the exact headers required?

[2022-10-27 06:50] kamaravichow commented on #296
[code]

These are a few important ones that I use in my APIs

[2022-10-27 07:06] sansyrox commented on #296
@kamaravichow , these are request headers right?

[2022-10-27 07:09] kamaravichow commented on #296
And the response header should contain this particular header to allow all the origins
[code]

[2022-10-27 10:24] guilefoylegaurav commented on #283
@sansyrox with reference to the problem of hot reload mode not reflecting instant changes in (some, including mine) windows machines, did you [look into this](https://github.com/sansyrox/robyn/pull/290#issuecomment-1272142058)?

If the same problem persists, feel free to let me know, I shall investigate and explore further.

[2022-10-27 10:35] guilefoylegaurav commented on #276
Can I pick this up, @sansyrox? Seems interesting

[2022-10-27 11:20] sansyrox commented on #276
@guilefoylegaurav , this issue is actually blocked on another issue right now. You can start with #296 if you find that interesting.

Also, if you have a windows machine set up. Would it be possible for you to help me out with the review of this PR(https://github.com/sansyrox/robyn/pull/294) ?

Are you on our discord btw?

[2022-10-27 11:25] guilefoylegaurav commented on #276
Yes, sure, I can help you with the review of PR #294
Also, yes, I am there on Robyn's discord

[2022-10-27 16:05] sansyrox commented on #276
Thank you so much @guilefoylegaurav 😄

I'll add you as a reviewer.

[2022-10-28 18:48] suhailmalik07 commented on #296
@sansyrox, I can pick this up. If it's okay.
have a question regarding approach.

Flask uses flask-cors [lib](https://flask-cors.readthedocs.io/en/latest/).

Which will be preferable creating a new lib(like flask-cors) or extending in same code-base?

[2022-10-29 05:47] sansyrox commented on #283
@guilefoylegaurav , I didn't get a chance to have a look at it yet. Would you like have a look at it?

[2022-10-29 10:08] guilefoylegaurav commented on #283
Sure

[2022-10-29 16:26] sansyrox commented on #296
Hey @suhailmalik07 👋

Thank you. Since every developer almost uses cors, I think it makes sense to have it in our codebase.

[2022-10-29 20:50] guilefoylegaurav commented on #289
This seems pretty interesting. Mind if I try my hands on this, @sansyrox?

[2022-10-30 07:21] suhailmalik07 commented on #296
Thanks for clarifying, I'm picking this up then.

[2022-10-30 09:52] #265 closed

[2022-10-30 15:34] sansyrox commented on #291
This has been fixed in #298

[2022-10-30 15:34] #291 closed

[2022-10-30 19:20] #285 closed

[2022-10-31 17:53] sansyrox opened #300 "[BUG] `--log-level` not working"
**Description**

`--log-level` flag is only showing the INFO logs

**Expected Behavior**

Should work with all the flags. Also, add tests using `caplog` to verify the different kinds of logs.

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---

[2022-11-04 19:09] guilefoylegaurav commented on #289
Interesting, it seems I might have to tweak the Rust code for the first time.

[2022-11-05 04:36] sansyrox commented on #289
@guilefoylegaurav , yep yep. Lmk if you need any help :D

[2022-11-05 09:40] sansyrox commented on #296
@suhailmalik07 , do let me know if you require any help from my end. :D

[2022-11-06 09:21] #300 closed

[2022-11-07 01:25] KaviiSuri commented on #284
Hey, I'm knew to rust but I'd love to pick this up if it's okay

[2022-11-07 01:29] KaviiSuri commented on #222
Hey, I'd like to pick this up, where can I get started?

[2022-11-07 09:53] sansyrox commented on #284
@KaviiSuri , sure go ahead. But this is an experimental feature and will require some research. I will be happy to collaborate with you if need be :smile:

[2022-11-07 10:05] KaviiSuri commented on #284
@sansyrox thanks!

I'd love to hack around on this, do you have any ideas where I should get started?

 I'll do a little research too and then we can talk on discord maybe?

[2022-11-07 14:24] #254 closed

[2022-11-07 14:57] sansyrox commented on #284
Perfect @KaviiSuri ✨

I would approach it like this:

1. Extract the docstring from the function.
2. Try accepting python in docstring. Then replace it with rust.
3. See if you can compile rust generated from the docstring.
4. We can see how we will handle arguments after that.

[2022-11-07 19:33] sansyrox opened #305 "[BUG] Always need to return a string in a route"
**Description**

Right now, we need to return a string in every route.

**Expected Behavior**

Allow the ability to return None
and handle `yield`

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---

[2022-11-09 18:15] shivaylamba opened #306 "[BUG] Wrong link for the blog post on Robyn"
**Description**

Wrong link for the blog post on Robyn in the documentation
The correct link is: https://www.sanskar.me/posts/hello-robyn

[2022-11-11 07:43] suhailmalik07 commented on #296
Hey @sansyrox, Thanks for letting me know. Sorry, but I'm currently stuck with something else. If anyone else wants to pick this up, that will be okay. It will take me some time.

[2022-11-11 19:59] sansyrox commented on #306
@shivaylamba , where have we mentioned the blog post? Can you please attach a screenshot?

[2022-11-11 20:04] shivaylamba commented on #306
<img width="388" alt="image" src="https://user-images.githubusercontent.com/19529592/201423096-50e899e0-43cb-4d0e-977f-dba781d9ee06.png">
@sansyrox the link to the blog post is wrong.

[2022-11-11 20:04] shivaylamba commented on #306
https://sansyrox.github.io/robyn/#/community-resources

[2022-11-11 20:05] shivaylamba commented on #306
Also on this note we should have a section for upcoming talks/sessions on Robyn as well in the #Community Resources

[2022-11-12 21:28] #306 closed

[2022-11-13 21:17] AntoineRR opened #310 "[BUG] Fix CI/CD pipeline"
**Description**

- The `Preview release` job fails for every PR.
- Also, when this job runs on master, it displays the following logs for every build:
[code]

If I understand correctly, the `Preview Release` job should be run for PRs only. In PRs, it seems the job is failing because of an authentication error:
[code]
Maybe the `TEST_PYPI_PASSWORD` secret is not available in PRs which makes sense f

[2022-11-13 22:46] sansyrox commented on #284
https://github.com/mityax/rustimport

Something like this could be helpful.

[2022-11-14 18:42] guilefoylegaurav commented on #289
Hey @sansyrox while I have been working on this issue since quite some time, I haven't quite arrived at a solution yet. While I shall be working on this to dig out a solution, let make this issue open to all (when someone is assigned an issue, others presume that the assignee shall get the issue solved and thus don't think about taking the issue up) - in the interest of updating the codebase quick

[2022-11-14 19:55] sansyrox commented on #310
@AntoineRR , thank you for opening the issue and apologies for the late revert.

`Preview Release` job is an experimental job that I wrote to allow me to create and test a release on `test-pypi` before pushing it on the main `pypi`.

Disabling PR can be one way. But I think we can talk with the `pyo3` community to see if there's a better way to test the builds.

[2022-11-14 20:05] sansyrox opened #311 "[Feature Request] Investigate if we need an unit tests for Python functions created in Rust"
**Current Behavior**

Right now, we have zero unit tests.

**Desired Behavior**

While I am not a big fan of writing unit tests, investigate if there is a need to write any. A potential way would be something like the one below.

[code]

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-11-14 20:18] sansyrox commented on #289
No worries, @guilefoylegaurav . 😄

I have a decent understanding regarding ot this issue. If anyone picks this up, feel free to tag me here again. 😄

[2022-11-14 20:21] guilefoylegaurav commented on #289
Is it?
It would be great if we can discuss the approach then.

I have been trying to experiment with calling the handler with the route params directly, but have been running into some confusing issues.

Also, the obsessed coder in me isn't willing to let go of the issue without a fight

[2022-11-14 20:47] sansyrox commented on #289
Haha, that's great to hear 😊

Can you text me your exact code approach either here or on discord and the we can work from there??

[2022-11-14 21:01] AntoineRR commented on #310
Thanks for the info :)
Another solution could be to run the `Preview Release` job on push to `main` branch only (when a PR is merged). Then the `Release` job could run only if a tag is associated with the commit and after the `Preview Release` job succeeded (`Preview Release` and `Release` job run in parallel instead of sequentially currently).
What do you think about that?

[2022-11-14 22:16] carlosm27 commented on #93
Hi, I just try Robyn and deploy the example on Railway.

Example:

[code]
May I write about deployment? Do you have something in mind about the example we should show in the docs?

[2022-11-15 19:02] sansyrox opened #312 "[Feature Request] Investigate RSGI"
**Current Behavior**

There has been a lot of discussion regarding ASGI and Robyn. Have a look at RSGI - https://github.com/emmett-framework/granian/blob/master/docs/spec/RSGI.md

**Desired Behavior**

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-11-16 21:10] sansyrox commented on #284
@KaviiSuri , I had the same idea in mind.

I was looking at this library https://github.com/mityax/rustimport

Lmk what you think of it 😊

[2022-11-18 16:07] carlosm27 opened #314 "[BUG] Error in Examples section in Documentation"
**Description**

There is an error in the Examples section. The code snippet in "Using Middleware" is the same of  "Serving simple HTML Files"

**Expected Behavior**

The code snippet should be :
[code]

**Screenshots**

**Environment:**
- Host OS:
- Browser:

---

[Optional] **Additional Context**

---

[2022-11-18 16:26] sansyrox commented on #314
Thank you @carlosm27 . I am on it 😄

[2022-11-18 16:27] sansyrox commented on #93
@carlosm27 , were you able to deploy Robyn successfully?

[2022-11-18 16:29] carlosm27 commented on #314
I can do that

[2022-11-18 16:48] sansyrox commented on #93
That's great news! Thank you @carlosm27

Please mention the process too. It will allow the new developer to have a better developer experience 😄

[2022-11-18 16:52] #314 closed

[2022-11-18 16:54] sansyrox commented on #314
Apologies Carlos,

I just saw your message.

On Fri, Nov 18, 2022 at 4:29 PM Carlos Armando Marcano Vargas <
***@***.***> wrote:

[2022-11-21 12:21] Alteian opened #317 "Forced shutdown locks console. [BUG]"
While forcing down the server console remains locked.

WinOS11 -V 22H2 build 22621.819
console: Git Bash, CMD

![image](https://user-images.githubusercontent.com/90640802/203052635-5c20b0e0-5213-43b2-8d2c-896e1f947e25.png)

[2022-11-21 19:38] sansyrox commented on #317
Thanks @Alteian for raising the issue. I'll set up a dual boot by this weekend, and then I will try to fix this.

[2022-11-21 22:19] #93 closed

[2022-11-24 10:54] sansyrox commented on #245
Hey @carlosm27 ,

You can take up this issue 😊

Let me know if you require any assistance from my end 🖖

[2022-11-24 20:58] sansyrox commented on #215
Currently, when you inspect the response, the content type is `Content-Type: plain-text` always.

Implement a way to return or set content-type in the response.

A possible example
[code]

[2022-11-25 22:38] AntoineRR opened #320 "[Feature Request] Add an automated benchmark script"
**Desired Behavior**

Add a python/shell script to run a benchmark of Robyn.
This should:
- Compile the Rust code
- Run a Robyn server
- Use something like [oha](https://github.com/hatoo/oha) to run the benchmark and display results

[2022-11-25 23:41] sansyrox opened #321 "[Feature Request] Add documentation for custom template support in v0.19.0"
**Current Behavior**

v0.19.0 is about to be released soon. Write the documentation for the same.

**Desired Behavior**

v0.19.0 is about to be released soon. Write the documentation for the same.

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-11-28 11:15] cirospaciari opened #323 "[BUG] Custom headers not sent when const=False"
**Description**

Custom header is only sent when const=True
**Expected Behavior**

Custom header must always be sent even without const=True

**Environment:**
- Host OS: Debian GNU/Linux bookworm/sid x86_64 Kernel 6.0.0-2-amd64
- Browser:  Chrome 107.0.5304.110

---

[Optional] **Additional Context**

When using const=False no Custom headers are sent.
[code]

[code]
When using const=True Date head

[2022-11-28 20:43] sansyrox commented on #323
Thank you @cirospaciari for opening this issue 😄

Can you please elaborate on what you mean by the Date headers?

[2022-11-28 21:41] cirospaciari commented on #323
Sorry actually i miss understood the issue, whats is happens is:
After adding this custom headers
[code]
Withou const=True the headers are not sent.
Date header is fine

[2022-11-29 10:11] sansyrox opened #324 "[Feature Request] Allow the ability of sending the headers from the same route"
**Current Behavior**

Currently, you cannot send the custom headers in the response from you route. Add the ability to do that.

**Desired Behavior**

Something along these lines, from our discussion on discord with @cirospaciari

[code]

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-11-29 10:11] sansyrox opened #325 "[Feature Request] Allow the ability of sending the headers from the same route"
**Current Behavior**

Currently, you cannot send the custom headers in the response from you route. Add the ability to do that.

**Desired Behavior**

Something along these lines, from our discussion on discord with @cirospaciari

[code]

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-11-29 10:11] sansyrox opened #326 "[Feature Request] Allow the ability of sending the headers from the same route"
**Current Behavior**

Currently, you cannot send the custom headers in the response from you route. Add the ability to do that.

**Desired Behavior**

Something along these lines, from our discussion on discord with @cirospaciari

[code]

---
**Screenshots / Mockups**

**Alternatives**

---

[2022-11-29 10:15] #324 closed

[2022-11-29 10:17] sansyrox commented on #323
@cirospaciari , this shouldn't happen. Will have to investigate. Thanks!

[2022-11-29 21:50] #10 closed